<div>
<nav class="navbar navbar-inverse navbar-inverse2" role="navigation">
  <div class="container-fluid">
    
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="text-align:center;">
       <a style="float:left;font-size:30px;color:white;" href="javascript:history.back();"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></a>
        <div class="navbar_logo">
                    <a href="/home/index">SKKUTA</a>
        </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
  </div><!-- /.container-fluid -->
</nav>
</div>