<style type="text/css"> 
#slideshow{
width:300px; 
height:500px;
left:-300px; 
z-index:999;
position:absolute; 
background-color: rgba(0, 0, 0, 0.8);
} 
</style>
<div id="slideshow"> 
<div class="person_slide">
<% if user_signed_in?%>
<div class="slide_profile_image"><%=image_tag current_user.image%></div>
<div class="slide_profile_name"><h3><%=current_user.name%></h3></div>
<% else %> 
<div class="slide_profile_name" style="margin-left:30px;margin-top:15px;"><h3>Log-in Please!</h3></div>
<% end %>
<button class="back">X</button>     
</div>
<ul class="slide_menu">
<% if user_signed_in?%>
<li class="slide_head">SKKUTA SERVICE</li>
<a href="/home/account/<%=current_user.id%>"><li>마이페이지</li></a>
<a href="/home/news"><li>뉴스피드</li></a>
<a href="/home/like_my"><li>찜한 가게</li></a> 
<a href="/users/sign_out"><li>로그아웃</li></a>
<% if current_user.email == "admin@naver.com" %>
<a href="/home/admin"><li>개발자 페이지</li></a>
<% end %>
<% end %>
<li class="slide_head">COMMUNICATION</li>
<a href="/home/to_ceo"><li>사장님이세요?</li></a>
<% if user_signed_in?%>
<a href="/home/qna_create"><li>개발자에게 바란다</li></a>
<% end %>
<li><a href="/home/term" style="color:white;">서비스 이용약관</a> | <a href="/home/privacy" style="color:white;">개인정보 처리방침</a></li> 
<a href="/home/aboutteam"><li>개발팀</li></a>
</ul> 
</div> 
<div>
<nav class="navbar navbar-inverse navbar-inverse2" role="navigation">
  <div class="container-fluid">
    
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="text-align:center;">
       <button style="height:40px; float:left; position:relative;margin-left:5px;display:inline-block;" type="button" class="navbar-toggle open">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
       </button>
       <div class="navbar_logo">
                    <a href="/home/index">SKKUTA</a>
        </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
     <!--<div class="collapse navbar-collapse skkuta-nav" id="bs-example-navbar-collapse-1">-->
     <!--           <ul class="nav navbar-nav skkuta-nav" style="background-color:white;">-->
     <!--               <li><a href="/home/one_main">ONE</a></li>-->
     <!--               <hr style="width:340px; padding:0px; margin:0px auto;">-->
     <!--               <li><a href="/home/team_main">TEAM</a></li>-->
     <!--               <hr style="width:340px; padding:0px; margin:0px auto;">-->
     <!--               <li><a href="/content/index">ACTIVITY</a></li>-->
     <!--               <hr style="width:340px; padding:0px; margin:0px auto;">-->
     <!--               <li><a href="#" data-toggle="modal" data-target="#loginModal">로그인</a></li>-->
     <!--               <hr style="width:340px; padding:0px; margin:0px auto;">-->
     <!--               <li><a href="#" data-toggle="modal" data-target="#signupModal">회원가입</a></li>-->
     <!--            </ul>-->
     <!-- </div>-->
  </div><!-- /.container-fluid -->
</nav>
</div>

<script type="text/javascript"> 
//열기 버튼 클릭 이벤트 
$('.open').click(function(e) { 
  jQuery( "#slideshow" ).animate({left: 0}, 300 ); 
//slideshow의 left를 0으로 만듬 ( 300은 슬라이드이동속도 ) 
}); 
//닫기 버튼 클릭 이벤트 
$('.back').click(function(e) { 
  jQuery( "#slideshow" ).animate({left: '-300px'}, 300 );
//slideshow의 left를 -200으로 만듬 ( 300은 슬라이드이동속도 ) 
}); 
</script>