<div class="container" style="height:1000px;">
    <div class="teams_title">
        <h2>The Team</h2>
    </div>
    <div class="col-lg-5 col-lg-offset-1 col-sm-12 member_div">
        <div class="teams_detail">
            <h4><strong>Hyoseob Lim</strong><span><small></br> 스쿠터 만든 사람 </small></span></h4>
            <p>Sungkyunkwan University</p>
            <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> street331@skku.edu</p>
            <p class="teams_tag">#Passion #Ideation #Enjoy-working</p>
        </div>
    </div>
    <div class="col-lg-5 col-lg-offset-1 col-sm-12 member_div">
        <div class="teams_detail">
            <h4><strong>Changil Choi</strong><span><small></br> 스쿠터 키우는 사람 </small></span></h4>
            <p>Sungkyunkwan University</p>
            <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> moneyzza1@gmail.com</p>
            <p class="teams_tag">#Dedication #Creative</p>
        </div>
    </div>
    <div class="col-lg-5 col-lg-offset-1 col-sm-12 member_div">
        <div class="teams_detail">
            <h4><strong>Daeyoung Kwon</strong><span><small></br> 스쿠터 타는 사람 </small></span></h4>
            <p>Sungkyunkwan University</p>
            <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> topdaeyoung@gmail.com</p>
            <p class="teams_tag">#Energy #Marketing</p>
        </div>
    </div>
    <div class="col-lg-5 col-lg-offset-1 col-sm-12 member_div">
        <div class="teams_detail">
            <h4><strong>Jeongmin Kim</strong><span><small></br> 스쿠터 알리는 사람 </small></span></h4>
            <p>Sungkyunkwan University</p>
            <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> julietmikey@gmail.com</p>
            <p class="teams_tag">#Leadership #Hardworking</p>
        </div>
    </div>
</div>