<div class="container">
<div class="admin"> 
    <ul class="admin_menu">
       <li><a href="/home/admin_store">식당 관리</a></li>
       <li><a href="/home/admin_reply">댓글 관리</a></li>
       <li><a href="/home/admin_reply">데이터 관리</a></li>
    </ul>
</div>
</div>
