<div class="container">
     <!-- Half Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url(<%= asset_path 'lunch.jpg' %>)"></div>
                <div class="carousel-text">
                    <h1>점심약속은 잡았고..어디서 먹지..</h1>
                    <p>SKKUTA에서 찾아봐~</p>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url(<%= asset_path 'skku.jpg' %>);"></div>
                <div class="carousel-text">
                    <h1>성균관대 주변 식당 모든 메뉴판은</h1>
                    <p>SKKUTA에서 찾아봐~</p>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url(<%= asset_path 'question.jpg' %>);"></div>
                <div class="carousel-text">
                    <h1>점심약속은 잡았는데 어디서 먹지...</h1>
                    <p>SKKUTA에서 찾아봐~</p>
                </div>
            </div>
    </div>
       <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>
   <ul class="nav nav-tabs menu_nav" role="tablist">
    <li role="presentation" class="active account_menubar_i" style="height:50px;"><a href="#menu" aria-controls="menu" role="tab" data-toggle="tab" class="activeTab account_menu"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> 종류별</a></li>
    <li role="presentation" class="account_menubar_i" style="height:50px;"><a href="#location" aria-controls="location" role="tab" data-toggle="tab" class="account_menu"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> 위치별</a></li>
    </ul>
 
 <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="menu">
    <section id="menu">
    <div class="col-xs-12">
        <a href="/home/list_korea">
        <div class="main_list_spec">
            <h1 style="text-align:left;">한식</h1><img src="/assets/korea.png" style="float:right;">
        </div>
        </a>
    </div>
    <div class="col-xs-12">
        <a href="/home/list_china">
        <div class="main_list_spec">
            <img src="/assets/zazang.png" style="float:left;"/><h1 style="float:right;">중식</h1><img src=""/>
        </div>
        </a>
    </div>
    <div class="col-xs-12">
        <a href="/home/list_japan">
        <div class="main_list_spec">
            <h1 style="float:left;">일식</h1><img src="/assets/ramen.png" style="float:right;"/>
        </div>
        </a>
    </div>
    <div class="col-xs-12">
        <a href="/home/list_india">
        <div class="main_list_spec">
          <img src="/assets/burger.png" style="float:left;"/>  <h1 style="float:right;">인도</h1>
        </div>
        </a>
    </div>
    <div class="col-xs-12">
        <a href="/home/list_western">
        <div class="main_list_spec">
            <h1 style="float:left;">멕시칸</h1><img src=""/><img src="/assets/tacos.png" style="float:right;"/>
        </div>
        </a>
    </div>
    <div class="col-xs-12">
        <a href="/home/list_gimbab">
        <div class="main_list_spec">
           <img src="/assets/terk.png" style="float:left;"><h1 style="text-align:right;">분식</h1>
        </div>
        </a>
    </div>
    <div class="col-xs-12">
        <a href="/home/list_pizza">
        <div class="main_list_spec">
            <h1 style="float:left;">피자</h1><img src="/assets/pizza.png" style="float:right;"><img src=""/>
        </div>
        </a>
    </div>
    <div class="col-xs-12">
        <a href="/home/list_chicken">
        <div class="main_list_spec">
             <img src="/assets/chicken.png" style="float:left;"/><h1 style="float:right;">치킨</h1>
        </div>
        </a>
    </div>
   
    <div class="col-xs-12">
        <a href="/home/list_2nd">
        <div class="main_list_spec">
           <h1 style="float:left;">뒷풀이</h1><img src=""/> <img src="/assets/soju.png" style="float:right;"/>
        </div>
        </a>
    </div>
    </div>
    </section>
    <div role="tabpanel" class="tab-pane fade in" id="location">
        <section id="location">
        <a href="/home/list_jung">
        <div class="main_list_spec_l">
            <h1 style="text-align:left;">정문</h1>
        </div>
        </a>
        <a href="/home/list_chul">
        <div class="main_list_spec_l">
            <h1 style="text-align:left;">철문</h1>
        </div>
        </a>
        <a href="/home/list_zzok">
        <div class="main_list_spec_l">
            <h1 style="text-align:left;">쪽문</h1>
        </div>
        </a>
        <a href="/home/list_four">
        <div class="main_list_spec_l">
            <h1 style="text-align:left;">사거리</h1>
        </div>
        </a>
        <a href="/home/list_dae">
        <div class="main_list_spec_l">
            <h1 style="text-align:left;">대명거리</h1>
        </div>
        </a>
         <a href="/home/list_sonamu">
        <div class="main_list_spec_l">
            <h1 style="text-align:left;">소나무길</h1>
        </div>
        </a>
        <a href="/home/list_rotary">
        <div class="main_list_spec_l">
            <h1 style="text-align:left;">혜화로터리</h1>
        </div>
        </a>
         <a href="/home/list_maro">
        <div class="main_list_spec_l">
            <h1 style="text-align:left;">마로니에</h1>
        </div>
        </a>
     <div class="menu_pic" style="margin-top:50px;">
        <img src="/assets/segment.jpg"/>
    </div>
    <% if user_signed_in? %>
     <% if current_user.email == "admin@naver.com"%>
        <div class="col-xs-12">
        <a href="/home/write_store">
        <div class="main_list_spec">
            <h1 style="text-align:center;">식당추가</h1>
        </div>
        </a>
        </div>
        <div class="col-xs-12">
        <a href="/home/write_ad">
        <div class="main_list_spec">
            <h1 style="text-align:center;">광고추가</h1>
        </div>
        </a>
        </div>
        <div class="col-xs-12">
        <a href="/home/admin">
        <div class="main_list_spec">
            <h1 style="text-align:center;">관리자페이지</h1>
        </div>
        </a>
        </div>
    <% end %>
    <% end %>
    <% if user_signed_in? %>
    <div class="col-xs-12">
        <a href="/users/sign_out">
        <div class="main_list_spec">
            <h1 style="text-align:center;"><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></h1>
        </div>
        </a>
    </div>
    <% else %>
    <div class="col-xs-12">
        <a href="/users/sign_in">
        <div class="main_list_spec">
            <h1 style="text-align:center;">관리자로그인</h1>
        </div>
        </a>
    </div>
    <% end %>
    </section>
    </div>
 </div>    
  <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
  </script>