<div class="container">
    <div class="select_random">
        <h2>완전 랜덤 검색</h2>
    </div>
    <div class="random_btn btn btn-success" style="width:82%;margin-left:9%;" onclick="window.location='/home/random_select_result';">
        <h2>누 름</h2>
    </div>
    <div class="select_random" style="margin-top:50px;">
        <h2>맞춤형 검색</h2>
    </div>
    <div class="select_area">
        <form action="/home/recommend" method="POST">
           <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <div class="choice">
            <h2>위치</h2>
            <select class="form-control" name="where" style="margin-left:15px;width:35%; display:inline-block;">
                 <option>전체</option>
                 <option>정문</option>
                 <option>쪽문</option>
                 <option>철문</option>
                 <option>사거리</option>
                 <option>대명거리</option>
                 <option>소나무길</option>
                 <option>마로니에</option>
                 <option>로터리</option>
            </select>
            </div>
            <div class="choice">
            <h2>음식 종류</h2>
            <select class="form-control" name="what" style="margin-left:15px;width:35%; display:inline-block;">
                 <option>전체</option>
                 <option>한식</option>
                 <option>중식</option>
                 <option>일식</option>
                 <option>뒷풀이</option>
                 <option>양식</option>
                 <option>분식</option>
                 <option>멕시칸</option>
                 <option>피자</option>
                 <option>치킨</option>
                 <option>인도음식</option>
            </select>
            </div>
            <button class="random_btn btn btn-success" style="margin-top:50px;" type="submit" >
                <h2>누 름</h2>
            </button>
            </form>
    </div>
</div>