 <div class="container" style="padding:8px;">
    <h2 style="text-align:center; font-family:'Noto Sans KR';"><strong>SKKUTA 서비스 이용약관</strong></h2>
    <p style=" font-family:'Noto Sans KR';">최종 수정일자 :2017년 09월 04일</p>
    <div class="term_div">
    <h3>제 1조 (목적)</h3>
    <p>본 약관은 “SKKUTA”(이하 “웹 서비스”)가 운영하는 서비스를 이용함에 있어 “웹 서비스”와 회원의 권리, 의무, 책임 사항을</p>
    <p>규정합니다. 이는 “웹 서비스”의 원활한 서비스 제공, “웹 서비스”와 회원 간의 상호 신뢰 증진을 목적으로 합니다.</p>
    </div>
    <div class="term_div">
    <h3>제 2조 (용어의 정의)</h3>
    <p>가. “웹 서비스”란 “SKKUTA”가 컴퓨터 등 정보통신설비를 이용하여 회원들에게 식당 정보 서
    비스를 제공할 수 있도록 설정한 가상의 플랫폼 영업장을 말하며, 아울러 본 서비스를 운영하는 사업자의 의미
    로도 사용합니다.</p>
    <p>나. “이용자”란 “웹 서비스”에 접속하여 이 약관에 따라 “웹 서비스”가 제공하는 서비스를 받는 회원 및 비회원을 말합니다.</p>
    <p>다. “회원”이라 함은 “웹 서비스”에 회원 등록을 한 자로서, 계속적으로 “웹 서비스”가 제공하는 서비스를 이용할 수 있는 자
를 말합니다.</p>
    <p>라. “비회원”이라 함은 회원에 가입하지 않고 “웹 서비스”가 제공하는 서비스를 이용하는 자를 말합니다.</p>
    <p>사. “가게”라 함은 “웹 서비스”가 제공하는 식당 및 다양한 학교 생활과 관련된 서비스를 받을 수 있는 업체를 말합니다.</p>
    </div>
    <div class="term_div">
    <h3>제 3조 (효력의 발생 및 변경)</h3>
    <p>가. 본 약관은 “웹 서비스”의 사이트를 통하여 “웹 서비스”의 회원에게 공시된 직후 효력이 발생합니다.</p>
    <p>나. 본 약관은 “웹 서비스”의 영업상 중요 사유로 인해 사전 고지 없이 언제든지 변경될 수 있으며, 변경된 약관은 “웹 서비스”
의 사이트에 게시, 전자우편 공지 등의 방법을 통하여 효력이 발생합니다.</p>
    <p>다. 효력의 변경은 서비스 이용약관 최상단에 있는 “최종 수정일자”를 통하여 확인할 수 있습니다.</p>
    <p>라. “웹 서비스”가 약관을 개정할 경우에는 그 개정 약관은 적용일자 이후에 체결되는 계약에만 적용되고 그 이전에 이
미 체결된 계약에 대해서는 개정 전의 약관 조항이 그대로 적용됩니다.</p>
    <p>마. “웹 서비스”의 회원은 회원가입시 ‘이용약관 동의 버튼’을 클릭함으로써 약관에 동의할 수 있으며, “웹 서비스”가 제공하
는 서비스를 지속적으로 이용할 경우, “웹 서비스”의 약관을 지속적으로 동의한 것으로 간주됩니다. 만일 회원이 “회
사”의 약관에 동의하지 않을 경우, “웹 서비스”가 제공하는 서비스를 즉각 중단 후 회원 탈퇴를 함으로써 약관에 대
한 거부 의사를 표명할 수 있습니다.</p>
    </div>
    <div class="term_div">
    <h3>제 4조 (약관 외 사항의 처리)</h3>
    <p>본 약관에 명시되지 아니한 사항과 해석에 대해서는 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」, 「전자상
거래 등에서의 소비자보호에 관한 법률」, 「약관의 규제 에 관한 법률」, 「전자문서 및 전자거래기본법」, 「소비자기본
법」 등 관련 법령 또는 상관례에 따릅니다.</p>
    </div>
    <div class="term_div">
    <h3>제 5조 (회원)</h3>
    <p>가. 회원 가입의 대상은 SKKUTA 서비스를 이용하는 모든 사람을 원칙으로 합니다.</p>
    <p>다. “웹 서비스”는 ‘가’ 항의 절차를 거친 이용자 중에서 다음 각 호에 해당하지 않는 한 회원으로 인정합니다.</p>
    <p>1) 회원 가입 신청자가 회원 자격을 상실한 적이 있는 경우, 회원 자격 상실 후 1년이 경과한 자로서 “웹 서비스”가
회원 재가입 승낙을 한 경우에는 예외로 한다.
2) 등록 내용에 허위, 기재누락, 오기가 있는 경우
3) 기타 회원으로 등록하는 것이 “웹 서비스”의 운영에 현저히 지장이 있다고 판단 되는 경우</p>
    <p>라. 회원은 “웹 서비스”에 언제든지 회원 탈퇴를 신청할 수 있으며, “웹 서비스”는 즉시 회원 탈퇴를 처리합니다.</p>
    <p>마. 회원이 다음 각 호의 사유에 해당하는 경우, “웹 서비스”는 회원자격을 제한 및 상실시킬 수 있습니다.</p>
    <p>1) 가입 신청 시에 허위 내용을 등록한 경우
2) 다른 회원이 “웹 서비스”의 서비스를 이용하는 것을 방해하거나 그 정보를 도용하는 등 정보통신망의 질서를 저
해하는 경우
3) “웹 서비스”를 이용하여 법령 또는 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우
4) 기타 ‘제 10조(“회원”의 의무)’에 명시한 사항에 해당하는 경우</p>
    <p>바. “웹 서비스”는 회원 자격을 제한 정지 시킬 경우, 이 사실을 e-mail을 통해 회원에게 통지합니다.</p>
    </div>
    <div class="term_div">
        <h3>제 6조 (서비스의 제공 및 변경)</h3>
        <p>가. “웹 서비스”는 다음과 같은 업무를 수행합니다.</p>
        <p>1) 가게 정보 제공 : 성균관대 주변 식당 및 서비스 제공 업체에 대한 정보를 제공합니다.
2) 커뮤니티 게시판 : 회원들의 리뷰와 포스팅을 기반으로 한 정보 제공 플랫폼 제공</p>
        <p>나. “웹 서비스”가 제공하는 서비스는 기술상 지장이 없는 한 연중무휴, 1일 24시간 제공을 원칙으로 합니다. 다만, “회
사"가 사이트 유지보수 및 변경관리, 점검 등을 목적으로 서비스를 일시 중단 할 수 있으며, 이러한 경우에는
사전 혹은 사후 공지를 통하여 회원들에게 알립니다.</p>
        <p>다. “웹 서비스”가 제공하는 서비스가 일시 중단하는 등의 이유로 해당 서비스를 이용하던 회원이 피해를 입었을 경우,
그 피해에 대한 책임은 “웹 서비스”에게 있습니다. 단, “웹 서비스”가 고의 또는 중과실이 없음을 입증하는 경우, 피해 보
상에 대한 “웹 서비스”의 책임은 없습니다.</p>
        <p>라. “웹 서비스”는 웹 서비스 운영상 기술적인 이유 및 사업 확장의 이유 등 불가피한 사정으로 인해 기존에 제공하던 서비스
의 내용을 변경할 수 있습니다. 이러한 경우 변경된 서비스의 내용을 사전 혹은 사후 공지를 통하여 회원들에
게 알립니다. 단, “웹 서비스”는 불가피한 여건이나 사정이 있는 경우, 위 공지를 하지 않을 수 있습니다.</p>
        <p>마. “웹 서비스”는 팀 빌딩 서비스로 인하여 형성된 팀 내에서 발생한 회원간 갈등과 분쟁, 또한 그로 인한 손해에 대해
서 책임을 지지 않습니다. 단, “웹 서비스”의 고의 또는 중과실이 있는 경우, “웹 서비스”는 이에 대한 책임을 집니다.</p>
    </div>
    <div class="term_div">
        <h3>제 7조 (개인정보보호)</h3>
        <p>가. “웹 서비스”는 회원의 개인정보 수집 시 서비스 제공을 위하여 필요한 범위에서 최소한의 개인정보(e-mail 주소, 회
원의 학교 e-mail 주소, 비밀번호)를 수집합니다.</p>
        <p>나. “웹 서비스”가 회원의 개인정보를 수집 이용하는 때에는 당해 이용자에게 회원가입시 개인정보처리방침을 통해 개
인정보 수집 목적 등을 고지하고 동의를 받습니다.</p>
        <p>다. “웹 서비스”는 수집된 개인정보를 목적 외의 용도로 이용할 수 없으며, 새로운 이용목적이 발생한 경우 또는 제 3자
에게 제공하는 경우에는 이용 제공 단계에서 당해 이용자에게 그 목적을 고지하고 동의를 받습니다. 다만, 관
련 법령에 달리 정함이 있는 경우에는 예외로 합니다.</p>
        <p>라. "웹 서비스" 또는 그로부터 개인정보를 제공받은 제 3자는 개인 정보의 수집 목적 또는 제공 받은 목적을 달성한 때
에는 당해 개인 정보를 지체 없이 파기합니다.</p>
        <p>마. “웹 서비스”는 ‘나’, ‘다’ 항에 의해 이용자의 동의를 받아야 하는 경우에는 개인정보관리 책임자의 신원(소속, 성명
및 전화번호, 기타 연락처), 정보의 수집목적 및 이용목적, 제 3자에 대한 정보제공 관련사항(제공 받은 자, 제
공 목적 및 제공할 정보의 내용) 등 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 제 22조 제 2항이 규정
한 사항을 미리 명시하거나 고지해야 하며 이용자는 언제든지 이 동의를 철회할 수 있습니다.</p>
        <p>바. 이용자는 언제든지 “웹 서비스”가 가지고 있는 자신의 개인정보에 대해 열람 및 오류정정을 요구할 수 있으며 “웹 서비스”
는 이에 대해 지체 없이 필요한 조치를 취할 의무를 지닙니다. 이용자가 오류의 정정을 요구한 경우에는 “웹 서비스”
는 그 오류를 정정할 때까지 당해 개인정보를 이용하지 않습니다.</p>
        <p>사. “웹 서비스”는 개인정보 보호를 위하여 이용자의 개인정보를 취급하는 자를 최소한으로 제한하여야 하며, 이용자의
개인정보의 분실, 도난, 유출, 동의 없는 제 3자 제공, 변조 등으로 인한 이용자의 손해에 대하여 모든 책임을
집니다. 단, “웹 서비스”가 고의 또는 중과실이 없음을 입증하는 경우, 피해 보상에 대한 “웹 서비스”의 책임은 없습니다.</p>
    </div>
     <div class="term_div">
         <h3>제 8조 (“웹 서비스”의 의무)</h3>
         <p>가. “웹 서비스”는 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 이 약관이 정하는 바에 따라 지
속적이고, 안정적으로 재화 용역을 제공하는데 최선을 다하여야 합니다.</p>
        <p>나. “웹 서비스”는 회원이 안전하게 서비스를 이용할 수 있도록 회원의 개인정보 보호를 위한 보안 시스템을 갖추어야
합니다.</p>
        <p>다. “웹 서비스”는 회원이 원하지 않는 광고성 전자우편을 발송하지 않습니다.</p>
        <p>라. "웹 서비스"가 상품이나 용역에 대하여 「표시, 광고의 공정화에 관한 법률」 제 3조 소정의 부당한 표시, 광고 행위를
함으로써 이용자가 손해를 입은 때에는 이를 배상할 책임을 집니다. 단, “웹 서비스”가 고의 또는 중과실이 없음을
입증하는 경우, 피해 보상에 대한 “웹 서비스”의 책임은 없습니다.</p>
    </div>
    <div class="term_div">
        <h3>제 9조 (“이용자”의 의무)</h3>
        <p>이용자는 다음 행위를 하여서는 안 됩니다.</p>
        <p>1) 타인의 정보 도용
2) “웹 서비스”에 게시된 정보의 변경
3) “웹 서비스”가 정한 정보 이외의 정보(컴퓨터 프로그램 등) 등의 송신 또는 게시
4) “웹 서비스” 기타 제 3자의 저작권 등 지적재산권에 대한 침해
5) “웹 서비스” 기타 제 3자의 명예를 손상시키거나 업무를 방해하는 행위
6) 외설 또는 폭력적인 메시지, 화상, 음성, 기타 공서양속에 반하는 정보를 “웹 서비스”에 공개 또는 게시하는 행위</p>
    </div>
    <div class="term_div">
        <h3>제 10조 (“회원”의 의무)</h3>
        <p>가. 회원은 다음 행위를 하여서는 안 됩니다.</p>
        <p>1) 다른 이용자의 계정을 부정 사용하는 행위
2) 다른 이용자의 개인정보를 수집, 저장하는 행위
3) “웹 서비스” 직원, 운영자 등을 포함한 타인을 사칭하는 행위
4) 서비스 운영에 지장을 주거나 줄 우려가 있는 일체의 행위
5) 본 약관을 포함하여 기타 당사가 정한 규정 또는 이용조건을 위반하는 행위
6) 객관적으로 범죄와 결부된다고 판단되는 행위
7) 기타 관계법령에 위배되는 행위</p>
        <p>나. 회원은 다음 사항에 대한 의무를 가집니다.</p>
        <p>1) 회원의 ID와 비밀번호에 관한 관리 의무
2) 제 3자에 의한 회원 ID, 비밀번호의 도용 방지 의무
3) 제 3자에 의한 회원 ID, 비밀번호의 도용이 있을 경우 “웹 서비스”에 대한 통보 의무
4) “웹 서비스”의 서비스를 통해 형성된 팀 내부에서의 에티켓 준수 의무</p>
    </div>
    <div class="term_div">
        <h3>제 11조 (저작권의 귀속 및 이용제한)</h3>
        <p>가. “웹 서비스”가 생산한 저작물에 대한 저작권 및 기타 지적재산권은 “웹 서비스”에 귀속합니다.</p>
        <p>나. 이용자는 “웹 서비스”를 이용함으로써 얻은 정보 중 “웹 서비스”에게 지적재산권이 귀속된 정보를 “웹 서비스”의 사전 승낙 없
이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제 3자에게 이용하게 하여서는
안됩니다.</p>
        <p>다. 회원이 작성한 게시물에 대한 모든 권리와 책임은 이를 게시한 회원에게 있습니다.</p>
        <p>라. “웹 서비스”는 회원이 제공한 공개적인 게시물을 사용ㆍ복제ㆍ수정ㆍ출판ㆍ배포 할 수 있으며, 약관에 따라 회원에
게 귀속된 저작권을 사용하는 경우 당해 회원에게 통보하여야 합니다.</p>
    </div>
    <div class="term_div">
        <h3>제 12조 (회원의 게시물)</h3>
        <p>"웹 서비스"는 "회원"이 게시하거나 등록하는 서비스 내의 내용물이 다음 각 사항에 해당된다고 판단되는 경우에 사전
통지 없이 삭제할 수 있습니다.</p>
        <p>1) 다른 회원 또는 제 3자를 비방하거나 중상모략으로 명예를 손상시키는 내용인 경우
2) 공공질서 및 미풍양속에 위반되는 내용일 경우
3) 범죄적 행위에 결부된다고 인정되는 내용일 경우
4) 제 3자의 저작권 등 기타 권리를 침해하는 내용인 경우
5) 기타 허위, 과대, 광고성이 짙은 내용이라고 판단되는 경우
6) 기타 관계 법령이나 "회원사"에서 정한 규정에 위반되는 경우</p>
    </div>
    <div class="term_div">
        <h3>제 13조 (분쟁의 해결)</h3>
        <p>가. “웹 서비스”와 이용자는 서비스와 관련하여 발생한 분쟁을 원만하게 해결하기 위해 서로 필요한 노력을 해야 합니다.</p>
        <p>나. “웹 서비스”는 이용자로부터 제출되는 불만사항 및 의견을 우선적으로 처리합니다. 다만, 신속한 처리가 곤란한 경
우에는 이용자에게 그 사유와 처리 일정을 즉시 통보해 드립니다.</p>
        <p>다. “웹 서비스”와 이용자 간에 발생한 분쟁과 관련하여 이용자의 피해구제신청이 있는 경우에는 공정거래위원회 또는
시 도지사가 의뢰하는 분쟁 조정기관의 조정에 따를 수 있습니다.</p>
    </div>
    <div class="term_div">
        <h3>제 14조 (면책조항)</h3>
        <p>회원이 "웹 서비스"의 서비스 제공으로부터 기대되는 이익을 얻지 못하였거나 서비스 자료에 대한 취사선택 또는 이용
으로 발생하는 불이익에 대하여 "웹 서비스"는 책임을 지지 아니합니다.</p>
        <p>가. "웹 서비스"는 이용자 상호간 또는 이용자와 제3자 간에 콘텐츠를 매개로 하여 발생한 분쟁 등에 대하여 책임을 지
지 않습니다.</p>
        <p>나. "회원"이 "서비스"를 이용함에 있어 행한 불법행위나 본 약관 위반행위로 인하여 "웹 서비스"가 당해 "회원" 이외의
제3자로부터 손해배상 청구 또는 소송을 비롯한 각종 이의제기를 받는 경우 당해 "회원"은 자신의 책임과 비용
으로 "웹 서비스"를 면책 시켜야 하며, "웹 서비스"가 면책되지 못한 경우 당해 "회원"은 그로 인하여 "웹 서비스" 발생한 모든
손해를 배상하여야 합니다.</p>
    </div>
    
</div>