<div class="container">
     <div class="to_ceo_div">
         <h4><strong>스쿠타</strong> 서비스에<br>관심과 사랑을 주셔서 감사합니다!</h4>
         <h4><strong>스쿠타</strong> 서비스는<br> 항상 초심을 잃지 않고<br>고객 여러분들의 의견에 <br> 항상 귀를 기울이겠습니다. </h4>
         <h4><strong>사장님!</strong> 스쿠타 서비스를<br> 이용하시려면<br> street331@skku.edu 로 <br> 간단한 연락처 및 상호명을 보내주세요. </h4>
         <h4>#2017년 현재 <strong>스쿠타</strong> 서비스는<br> <strong>등록비용</strong>을 받지 않습니다#</h4>
         <h5 style="margin-top:50px; display:block;">스쿠타 만든 사람</h5>
         <h5 style="font-size:20px;"><small>성균관대 소비자가족학과</small> 임효섭</h5>
     </div>
</div>