<style>
    .div_input_name {
        height:80px;
    }
</style>
<div class="container">
    <form enctype="multipart/form-data" action="/home/write_ad_complete" accept-charset="UTF-8" method="POST">
    <div class="div_input_name"> 
       <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <span class="col-xs-4">
            <p>제목</p>
        </span>
        <input type="text" name="a_title" class="col-xs-8">
    </div> 
    <div class="div_input_name"> 
        <span class="col-xs-4">
            <p>소제목</p>
        </span>
        <input type="text" name="a_sub_title" class="col-xs-8">
    </div>
    <div class="div_input_name"> 
        <span class="col-xs-4">
            <p>가게 ID</p>
        </span>
        <input type="text" name="a_store_id" class="col-xs-8">
    </div> 
    <div class="div_input_name"> 
        <span class="col-xs-4">
            <p>사진</p>
        </span>
        <input type="file" name="a_pic" class="col-xs-8" placeholder="가능하면 1 불가능하면 0 을 입력">
    </div>
    <button type="submit" class="btn"> 등록하기</button>
    </form>
</div>