// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Bungee');
@font-face {
    font-family: 'SsangmunDongB';
    src: url(/assets/BMYEONSUNG_ttf.ttf) format('truetype');
}

h1, html, body, h2, h3, h4, h5, h6, li, p {
	font-family: 'SsangmunDongB';
}
.navbar_logo {
    font-family: 'Bungee', cursive;
    margin-right:50px;            
}

.main_list {
    position:relative;
    width:100%;
    height:100vh;
    background-color:white;
    margin-top:-20px;
}
.main_list_spec {
    width:29%;
    height:120px;
    background-color:#faaf3a;
    float: left;
    margin: 2% 2%;
    padding:20px 17px;
    display:inline-block;
        text-align:center;
    box-sizing:border-box;
       vertical-align:center;
    border:1px solid #faaf3a;
     -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
                &:hover {
                    h1 {
                    color: #faaf3a;
                    }
                    background-color:#FFFFFF;
                    -webkit-transform:scale(1.1);
                    -moz-transform:scale(1.1);
                    -ms-transform:scale(1.1);   
                    -o-transform:scale(1.1);
                    transform:scale(1.1);
                }
    img {
    display:inline-block;
    width:60px;
    height:auto;
    }
    h1 {
    display:inline-block;
    color:#FFFFFF;
    font-size:23px;
    font-family: 'SsangmunDongB' !important;
    text-align:center;
    vertical-align:center;
                 &:hover    {
                    color: #faaf3a;
                }
    }
}

.list_right {
    width:30%;
    height:100px;
    display:inline-block;
    position:relative;
    float:left;
}

.list_right img{
    width:85%;
    height:85%;
    margin:6%;
    border-radius:2px;
}

.list_each {
    display:inline-block;
    width:100%;
    font-family:'Noto Sans KR';
    height:100px;
    border-radius:3px;
    background-color:#F2F2F2;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}

.list_each:hover {
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);   
    -o-transform:scale(1.05);
    transform:scale(1.05);
}
.list_container {
    width:100%;
}
.list_all {
    width:100%;
    display:table;
    table-layout:fixed;
    padding:0;
}
.list_all_list {
    width:100%;
    display:table-cell;
    box-sizing:border-box;
}
.list_middle {
    margin-left:2%;
    width:38%;
    height:60px;
    display:inline-block;
    position:relative;
    float:left;
    table-layout:fixed;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    padding-bottom:5px;
}

.list_middle h2 {
    text-align:left;
    font-size:20px;
    font-family:'Noto Sans KR';
    overflow: hidden;
    font-weight:600;
    margin-bottom:3px;
    small {
        font-size:50%;
        text-overflow:ellipsis;
        white-space: nowrap;
        overflow: hidden; 
    }
}

.list_middle span {
    color : #FA5858;
}

.list_middle_down {
    margin-left:2%;
    width:68%;
    margin-top:5px;
    height:35px;
     display:inline-block;
     position:relative;
    float:left;
}
.list_left {
    width:28%;
    margin-right:2%;
    height:60px;
    display:inline-block;
    position:relative;
    float:left;
}
.list_left img {
    width:50px;
    height:50px;
    border-radius:50%;
    margin:9px 3px 3px 30px;
    
}

ul {
    list-style:none;
}

.upper {
 margin-top:-20px;
 width:100%;
 height:200px;
}

.upper img {
    width:100%;
    height:100%;
}

.middle_name {
    width:100%;
    height:225px;
    border-bottom:1px solid #D8D8D8;
}
.middle_name{
    padding-left:30px;
    h1 {
    font-size:25px;
    font-family:'Noto Sans KR';
    font-weight:600;
    text-align:left;
    }
}
.middle_name_right {
    float:right;
    padding-right:15px;
}
.middle_spec {
    width:100%;
    height:110px;
     font-family:'Noto Sans KR';
    border-bottom:1px solid #D8D8D8;
}
.circle {
    margin-top:15px;
    width:50px;
    height:50px;
    margin-left:auto;
    margin-right:auto;
    border-radius:50px;
    background-color:#faaf3a;
    padding-top:13px;
    p{
        font-size:20px;
        color:white;
        text-align:center;
        font-family:'Noto Sans KR';
    }
}

.circle_down {
    width:100%;
    height:25px;
    p {
        font-weight:400;
        margin-right:5px;
        margin-top:10px;
        font-family:'Noto Sans KR';
        text-align:center;
        font-size:12px;
    }
}

.menu_nav {
    float:center;
    margin-right:auto;
    margin-left:auto;
    width:100%;
    display:inline-block;
    position:relative;
}

.account_menu {
    width:100%;
    text-align:center;
    
}
.account_menubar {
    width:33%;
}
.account_menubar_i {
    width:33%;
}
.middle_name_left {
    float:left;
    width:49%;
    height:70px;
    position:relative;
}

.middle_name_left {
    float:left;
    width:49%;
    height:70px;
    position:relative;
}

.btn_call { 
    margin-top:20px;
    margin-left:30px;
    position:relative;
}
.reply_input_text {
    width:200px;
    float:left;
    margin-top:10px;
}
.review_input_div {
    width:100%;
    height:100px;
    border-bottom: 1px solid #D8D8D8;
}
.review_view {
    width:100%;
}
.review_each {
    position:relative;
    width:100%;
    border-bottom:1px solid #D8D8D8;
    height:auto;
    display: inline-block;
}
.review_profile {
    margin-top:8px;
    margin-left:8px;
    float:left;
    width:50px;
    height:50px;
    img {
        width:50px;
        height:50px;
        border-radius:50px;
    }   
}
.menu_pic {
    width:100%;
    height:auto;
    margin-top:15px;
    margin-bottom:15px;
    display: inline-block;
    img {
        width:90%;
        margin-left:5%;
    }
}
.review_p {
    width:80%;
    margin-top:15px;
    margin-left:8px;
    float:left;
    height:auto;
    box-sizing:border-box;
    display: inline-block;
 p {
     font-family:'Noto Sans KR';
     width:80%;
 }
}
.replyeach_time {
    width:100%;
    height:auto;
    display: inline-block;
    p {
    margin-left:15px;
    text-align:right;
    font-family:'Noto Sans KR';
    }
}
.review_pic {
    margin-top:30px;
    width:100%;
    height:auto;
    padding-bottom:10px;
}
.review_pic img {
    width:90%;
    margin-left:5%;
    float:left;
    margin-top:10px;
    margin-bottom:10px;
}
.list-group{
  a {
      display:block;
  }   
}

.ad_list {
    color:black;
    font-family:selif;
    display:block;
} 

@media all and (max-width : 768px) {
.container {
    min-height:100%;
    padding-bottom: 150px;
    width:100%;
    padding-left:0px;
    padding-right:0px;
}
.navbar_logo {
    margin-right:40px;            
}
}
@media all and (min-width : 769px) {
.container {
    width:420px;
    padding-bottom: 150px;
    min-height:100%;
    padding-left:0px;
    padding-right:0px;
}
.navbar_logo {
    display:inline-block;
    width:200px;
    margin-right:50px;
    text-align:center;
}
.container-fluid {
    text-align:center;
}
.navbar-header {
    width:100%;
}
}
/*
 * Start Bootstrap - Half Slider (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
@media all and (min-width : 651px) {
/* You can change the height of the carousel by changing the height in the class below. It is set to 50% by default, but can be any height! */
.carousel-text{
    position:absolute;
    right:15%;
    top:10px;
    left:15%;
    z-index:10;
    padding-top:20px;
    padding-bottom:20px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
}

.carousel-text h1{
    font-size: 20px;
}

.carousel-text p{
    font-size: 16px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: brightness(0.55);
}

footer {
    margin: 50px 0 0 0;
}
}

@media all and (max-width : 420px) {
    .fill {
    width: 100%;
    height: 200px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: brightness(0.55);
    }
    .item,
    .active,
    .carousel-inner {
    height: 200px;
    }
    .carousel {
    height: 200px;
    }
    .carousel-text{
    top:10px;
    position:absolute;
    right:7%;
    left:7%;
    z-index:10;
    padding-top:20px;
    padding-bottom:20px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
    }
    .carousel-text h1{
    font-size: 20px;
    }
    .carousel-text p{
    font-size: 16px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
    }
}
@media all and (min-width : 421px) and (max-width : 550px) {
    .fill {
    width: 100%;
    height: 200px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: brightness(0.55);
    }
    .item,
    .active,
    .carousel-inner {
    height: 200px;
}
.carousel {
    height: 200px;

}
.carousel-text{
    top:20px;
    position:absolute;
    right:7%;
    left:7%;
    z-index:10;
    padding-top:20px;
    padding-bottom:20px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
}

.carousel-text h1{
    font-size: 20px;
}

.carousel-text p{
    font-size: 16px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
}
}

@media all and (min-width : 551px) and (max-width : 768px) {

    .fill {
    width: 100%;
    height: 200px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: brightness(0.55);
    }
    .item,
    .active,
    .carousel-inner {
    height: 300px;
}
.carousel {
    height: 200px;

}
.carousel-text{
    top : 20px;
    position:absolute;
    right:7%;
    left:7%;
    z-index:10;
    padding-top:20px;
    padding-bottom:20px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
}

.carousel-text h1{
    font-size: 20px;
}

.carousel-text p{
    font-size: 12px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
}

}
.carousel {
    height : 200px;
    margin-top:-20px;
}
.main_list_spec_l {
    width:29%;
    height:120px;
    background-color:#FFFFFF;
    float:left;
    margin: 2% 2%;
    display:inline-block;
    text-align:center;
    box-sizing:border-box;
    vertical-align:center;
    border:1px solid #D8D8D8;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
                 &:hover {
                    h1 {
                    color: #FFFFFF;
                    }
                    background-color:#faaf3a;
                    border: 1px solid #faaf3a;
                     -webkit-transform:scale(1.1);
                    -moz-transform:scale(1.1);
                    -ms-transform:scale(1.1);   
                    -o-transform:scale(1.1);
                    transform:scale(1.1);
                }
    img {
    display:inline-block;
    width:100px;
    height:auto;
    }
    h1 {
    display:inline-block;
    color:#faaf3a;
    font-size:24px;
    margin-top:40px;
    font-family: 'SsangmunDongB' !important;
    text-align:center;
    }
}

// 페이지네이션

.pagination_div {
    text-align: center;
}
    .current {
        display: inline-block;
        font-size: 16px;
        text-decoration: none;
        padding-top:10px;
        font-weight: bold;
        display:inline-block;
        box-sizing: border-box;
        width:40px;
        height:40px;
        background-color: white;
        border-radius:3px;
        border:0.5px solid #BDBDBD;
        color: #2f609c;
        font-style: normal;
    }
    .pagination a {
        color:#cccccc !important;
        font-size:16px;
        font-style: normal;
        border-radius:3px;
        display:inline-block;
        box-sizing: border-box;
        width:40px;
        padding-top:10px;
        border:0.5px solid #BDBDBD;
        background-color: white;
        height:40px;
    }

    .pagination_links a{
        display:none;
    }
    .next_page,.previous_page{
        color:#cccccc !important;
        font-size:16px;
        font-style: normal;
        border-radius:3px;
        display:inline-block;
        box-sizing: border-box;
        width:40px;
        padding-top:10px;
        border:0.5px solid #BDBDBD;
        background-color: white;
        height:40px;
    }
    .pagination_links{
        text-align: center;
    }
    .previous_page.disabled, .next_page.disabled{
        display: none !important;
    }
    .pagination_links a{
        text-decoration: none;
    }
    .pagination_links a:hover{
        text-decoration: underline;
    }
    .pagination_links span{
        text-decoration: none;
        display: inline-block;
        color: #000000;
    }
@media all and (max-width : 420px) {
.current {
        display: inline-block;
        font-size: 12px;
        text-decoration: none;
        padding-top:5px;
        font-weight: bold;
        display:inline-block;
        box-sizing: border-box;
        width:25px;
        height:25px;
        background-color: white;
        border-radius:3px;
        border:0.5px solid #BDBDBD;
        color: #2f609c;
        font-style: normal;
    }
    .pagination a {
        color:#cccccc !important;
        font-size:12px;
        font-style: normal;
        border-radius:3px;
        display:inline-block;
        box-sizing: border-box;
        width:25px;
        padding-top:5px;
        border:0.5px solid #BDBDBD;
        background-color: white;
        height:25px;
    }
     .next_page,.previous_page{
        color:#cccccc !important;
        font-size:12px;
        font-style: normal;
        border-radius:3px;
        display:inline-block;
        box-sizing: border-box;
        width:25px;
        padding-top:5px;
        border:0.5px solid #BDBDBD;
        background-color: white;
        height:25px;
    }
    .pagination_div {
        margin-top:-5px;
        text-align: center;
    }
}
.admin_subtitle {
    width:100%;
    padding:20px auto;
}
// 페이지네이션 끝
  // 게시판 
    .table {
        width:100%;
        text-align:center;
    }
    .table_head_row {
        text-align:center;
        background-color:#C0C0C0;
        height:40px;
    }
    .table_head_num {
        width:20%;
         text-align:center;
    }
    .table_head_title {
        width:40%;
         text-align:center;
    }
    .table_head_day {
        width:19%;
         text-align:center;
    }
    .table_con_row {
        text-align:center;
        background-color:white;
        height:40px;
        border-bottom:1px solid #c0c0c0;
    }
    
    .map_control {
        width:100%;
        height:90px;
        padding:10px;
    }
    
    
    .member_div {
    background-color:#f2f2f2;
    height:240px;
    margin-left:15px;
    margin-top:15px;
}
.teams_title {
    margin-left:15px;
    h2 {
        font-weight:bold;
    }
}
.teams_pic {
    width:25%;
    height:auto;
    float:left;
    img {
        margin-top:15px;
        width:100%;
        height:100px;
    }
}
.teams_detail {
    width:68%;
    margin-left:2%;
    margin-top:10px;
    float:left;
}
.teams_tag {
    font-size:12px;
    font-weight:600;
    color:#faaf3a;
}
@media screen and (max-width : 768px) {
.skkuta-nav {
    display:none;
}
.member_div {
    background-color:#f2f2f2;
    height:170px;
    margin-top:15px;
}
}

.foot {
    position:relative;
    margin-top:50px;
    width:100%;
    height:150px;
}

.btn_write_one_story {
    float: right;
    width: 65px;
    margin-top:10px;
    height: 25px;
    color: white;
    margin-left: 15px;
    font-size: 17px;
    font-weight: 600;
    background-color: #faaf3a;
    border: none;
}

// 검색기능
.searchbox {
    width:100%;
    height:50px;
    display:inline-block;
    box-sizing:border-box;
    .btn_search {
        border:none;
        margin-top:5px;
    }
    .glyphicon_search_size {
       font-size:20px;
    }
    .search_input {
        font-family:'Noto Sans KR';
        width:90%;
        margin-top:5px;
        float:left;
    }
}
.tag_area {
    width: 90%;
    height: 200px;
    text-align: left;
    border: none;
    font-size: 14px;
    display: inline-block;
    background-color: #FAFAFA;
    resize: none;
}
.tag_style {
    font-weight: 600;
    font-size: 13px;
    word-break:keep-all;
    word-wrap: break-word;
    margin:3px;
    color: #faaf3a;
    font-family:'Noto Sans KR';
    border: 1px solid #faaf3a;
    border-radius: 20px;
    padding: 4px 8px 4px 8px;
}
.store_tag {
    width:100%;
    height:90px;
    white-space:normal;
    word-break:keep-all;
    word-wrap: break-word;
    line-height:30px;
    display:inline-block;
    box-sizing:border-box;
}
.middle_intro {
    width:100%;
    height:35px;
    display:inline-block;
    padding:10px;
    white-space:normal;
}
.now_skkuta {
    width:100%;
    height:40px;
    padding-top:10px;
    background-color:#f2f2f2;
    h2 {
    font-family:'Noto Sans KR';
    margin-top:0px;
    margin-bottom:0px;
    font-size:13px;
    font-weight:600;
    text-align:center;
    .now_number {
    color:#faaf3a;
    }
    }
}
.now_skkuta_c {
    width:100%;
    height:40px;
    padding-top:10px;
    background-color:#D8D8D8;
    h2 {
    font-family:'Noto Sans KR';
    margin-top:0px;
    margin-bottom:0px;
    font-size:13px;
    font-weight:600;
    text-align:center;
    .now_number {
    color:#faaf3a;
    }
    }
}
.now_review {
    margin-top:10px;
    width:100%;
    height:230px;
    h3 {
    padding-left:10px;
    width:100%;
    padding-bottom:5px;
    height:13px;
    font-weight:600;
    font-size:14px;
    box-sizing:border-box;
    display:inline-block;
    font-family:'Noto Sans KR';
    margin:0;
    }
    .each_now_review {
    width:100%;
    height:45px;
    box-sizing:border-box;
    display:inline-block;
    border-top:1px solid #f2f2f2;
    padding:3px;
    .each_r_text {
    text-align:left;
    padding-left:5px;
    padding-top:3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    width:70%;
    float:left;
    font-family:'Noto Sans KR';
    }
    .each_r_store {
    text-align:right;
    padding-right:5px;
    width:25%;
    float:right;
    font-size:12px;
    font-family:'Noto Sans KR';
    }
    }
}
 .more_review {
        width:100%;
        padding-top:7px;
        height:45px;
        text-align:center;
        font-family:'Noto Sans KR';
        box-sizing:border-box;
        display:inline-block;
        border-top:1px solid #f2f2f2;
        p {
            font-family:'Noto Sans KR';
            font-weight:600;
            color:#faaf3a;
        }
    }

.foot {
    position:relative;
    margin-top:-150px;   
    border-top:1px solid #D8D8D8;
    width:100%;
    text-align:center;
    padding-top:50px;
    padding-bottom:50px;
    height:150px;
}
.foot_copy {
    margin-top:15px;
    width:100%;
    text-align:center;
}

html, body {
    height:100%;
}

.now_review_list {
    margin-top:10px;
    width:100%;
    height:800px;
    h3 {
    padding-left:10px;
    width:100%;
    padding-bottom:5px;
    height:13px;
    font-weight:600;
    font-size:14px;
    box-sizing:border-box;
    display:inline-block;
    font-family:'Noto Sans KR';
    margin:0;
    }
    .each_now_review {
    width:100%;
    height:45px;
    box-sizing:border-box;
    display:inline-block;
    border-top:1px solid #f2f2f2;
    padding:3px;
    .each_r_text {
    text-align:left;
    padding-left:5px;
    padding-top:3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    width:70%;
    float:left;
    font-family:'Noto Sans KR';
    }
    .each_r_store {
    text-align:right;
    padding-right:5px;
    width:25%;
    float:right;
    font-size:12px;
    font-family:'Noto Sans KR';
    }
    }
}

.spec_map {
    width:90%;
    display:inline-block;
    margin-left:5%;
    margin-right:4%;
    float:right;
    height:400px;
}

.map_btn {
    font-family:'Noto Sans KR';
    display:inline-blokc;
    box-sizing:border-box;
    margin-top:10px;
    margin-left:10px;
}
.index_post {
    margin-top:470px;
    width:100%;
    .post_title {
    width:100%;
    display:inline-block;
    box-sizing:border-box;
    height:40px;
    padding-top:10px;
    padding-left:15px;
    h3 {
    height:50px;
    font-family:'Noto Sans KR';
    margin-top:0px;
    margin-bottom:0px;
    font-size:13px;
    font-weight:600;
    text-align:left;
    }
    }
}
.talk_with {
    width:95%;
    margin-left:2%;
    cursor:pointer;
    box-sizing:border-box;
    display:inline-block;
    height:40px;
    padding-top:10px;
    padding-left:15px;
    background-color:#f2f2f2;
    p {
    height:50px;
    font-family:'Noto Sans KR';
    margin-top:0px;
    margin-bottom:0px;
    font-size:13px;
    font-weight:600;
    text-align:left;
    }
}
.talk_with_2 {
    width:95%;
    cursor:pointer;
    margin-left:2%;
    box-sizing:border-box;
    height:40px;
    padding-top:10px;
    padding-left:15px;
    background-color:#D2D2D2;
    p {
    height:50px;
    font-family:'Noto Sans KR';
    margin-top:0px;
    margin-bottom:0px;
    font-size:13px;
    font-weight:600;
    text-align:left;
    }
}

.select_random {
    padding-left:15px;
    width:100%;
    margin-top:0px;
    h2 {
    height:50px;
    font-family:'Noto Sans KR';
    margin-top:0px;
    margin-bottom:0px;
    font-size:17px;
    font-weight:600;
    text-align:left;
    }
}
.random_btn {
    width:90%;
    margin-left:5%;
    height:40px;
    padding-top:12px;
    box-sizing:border-box;
    display:inline-block;
    background-color:#faaf3a;
    h2 {
    font-family:'Noto Sans KR';
    margin-top:0;
    font-size:13px;
    font-weight:600;
    text-align:center;    
    }
}

.select_area {
    width:100%;
    height:auto;
    padding:15px;
    border:1px solid #f2f2f2;
    padding-left:15px;
    form {
        font-family:'Noto Sans KR';
        font-size:10px;
    .choice {
        display:block;
        width:100%;
    }
    select {
        margin-top:10px;
        option {
            font-family:'Noto Sans KR';
            margin-top:0;
            font-size:13px;
            font-weight:600;
            text-align:left;    
        }
    }
    }
    h2 {
    display:inline-block;
    box-sizing:border-box;
    margin-top:15px;
    margin-left:10px;
    font-family:'Noto Sans KR';
    margin-top:0;
    font-size:13px;
    font-weight:600;
    text-align:left;    
    }
}