// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Bungee');
@font-face {
    font-family: 'SsangmunDongB';
    src: url(/assets/BMYEONSUNG_ttf.ttf) format('truetype');
}

h1, html, body, h2, h3, h4, h5, h6, li, p {
	font-family: 'SsangmunDongB';
}
.navbar_logo {
    font-family: 'Bungee', cursive;
    margin-right:50px;            
}

.main_list {
    position:relative;
    width:100%;
    height:100vh;
    background-color:white;
    margin-top:-20px;
}
.main_list_spec {
    width:100%;
    height:20vh;
    background-color:#FFFFFF;
    float:left;
    margin:8% 2%;
    box-sizing:border-box;
    border-bottom:1px solid green;
    img {
    display:inline-block;
    width:100px;
    height:auto;
    }
    h1 {
    display:inline-block;
    color:green;
    font-size:3em;
    font-family: 'SsangmunDongB' !important;
    text-align:center;
    vertical-align:center;
    }
}

.list_right {
    width:30%;
    height:100px;
    display:inline-block;
    position:relative;
    float:left;
}

.list_right img{
    width:85%;
    height:85%;
    margin:6%;
}

.list_each {
    display:inline-block;
    width:100%;
    height:100px;
    background-color:#F2F2F2;
}
.list_container {
    width:100%;
}
.list_all {
    width:100%;
    display:table;
    padding:0;
}
.list_all_list {
    width:100%;
    display:table-cell;
    box-sizing:border-box;
}
.list_middle {
    margin-left:2%;
    width:38%;
    height:60px;
    display:inline-block;
    position:relative;
    float:left;
    text-overflow: ellipsis;
    padding-bottom:5px;
}

.list_middle h2 {
    text-align:left;
    font-size:20px;
    overflow: hidden;
    font-weight:600;
    margin-bottom:3px;
}

.list_middle span {
    color : #FA5858;
}

.list_middle_down {
    margin-left:2%;
    width:68%;
    margin-top:5px;
    height:35px;
     display:inline-block;
     position:relative;
    float:left;
}
.list_left {
    width:28%;
    margin-right:2%;
    height:60px;
    display:inline-block;
    position:relative;
    float:left;
}
.list_left img {
    width:50px;
    height:50px;
    border-radius:50%;
    margin:9px 3px 3px 30px;
    
}

ul {
    list-style:none;
}

.upper {
 margin-top:-20px;
 width:100%;
 height:200px;
}

.upper img {
    width:100%;
    height:100%;
}

.middle_name {
    width:100%;
    height:70px;
    border-bottom:1px solid gray;
}
.middle_name{
    padding-left:30px;
    h1 {
    font-size:25px;
    font-weight:600;
    text-align:left;
    }
}
.middle_spec {
    width:100%;
    height:110px;
    border-bottom:1px solid gray;
}
.circle {
    margin-top:15px;
    width:50px;
    height:50px;
    border-radius:50px;
    background-color:#5CB748;
    padding-top:13px;
    p{
        font-size:20px;
        color:white;
        text-align:center;
    }
}

.circle_down {
    width:100%;
    height:25px;
    p {
        font-weight:600;
        margin-right:5px;
        margin-top:10px;
        text-align:center;
        font-size:15px;
    }
}

.menu_nav {
    float:center;
    margin-right:auto;
    margin-left:auto;
    width:100%;
    display:inline-block;
    position:relative;
}

.account_menu {
    width:100%;
    text-align:center;
    
}
.account_menubar {
    width:33%;
}
.account_menubar_i {
    width:50%;
}
.middle_name_left {
    float:left;
    width:49%;
    height:70px;
    position:relative;
}

.middle_name_left {
    float:left;
    width:49%;
    height:70px;
    position:relative;
}

.btn_call { 
    margin-top:20px;
    margin-left:30px;
    position:relative;
}
.reply_input_text {
    width:200px;
    float:left;
    margin-top:10px;
}
.review_input_div {
    width:100%;
    height:100px;
    border-bottom: 1px solid gray;
}
.review_view {
    width:100%;
}
.review_each {
    position:relative;
    width:100%;
    border-bottom:1px solid gray;
    height:auto;
    display: inline-block;
}
.review_profile {
    margin-top:8px;
    margin-left:8px;
    float:left;
    width:50px;
    height:50px;
    img {
        width:50px;
        height:50px;
        border-radius:50px;
    }   
}
.menu_pic {
    width:100%;
    height:auto;
    display: inline-block;
    img {
        width:90%;
        margin-left:5%;
    }
}
.review_p {
    width:80%;
    margin-top:15px;
    margin-left:8px;
    float:left;
    height:auto;
    display: inline-block;
 p {
     width:80%;
 }
}
.replyeach_time {
    width:100%;
    height:auto;
    display: inline-block;
    p {
    margin-left:15px;
    }
}
.review_pic {
    margin-top:30px;
    width:100%;
    height:auto;
    padding-bottom:10px;
}
.review_pic img {
    width:90%;
    margin-left:5%;
    float:left;
    margin-top:10px;
    margin-bottom:10px;
}
.list-group{
  a {
      display:block;
  }   
}

.ad_list {
    color:black;
    font-family:selif;
    display:block;
} 

@media all and (max-width : 768px) {
.container {
    width:100%;
}
.navbar_logo {
    margin-right:40px;            
}
}
@media all and (min-width : 769px) {
.container {
    width:420px;
}
.navbar_logo {
    display:inline-block;
    width:200px;
    margin-right:50px;
    text-align:center;
}
.container-fluid {
    text-align:center;
}
.navbar-header {
    width:100%;
}
}
/*
 * Start Bootstrap - Half Slider (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
@media all and (min-width : 651px) {
/* You can change the height of the carousel by changing the height in the class below. It is set to 50% by default, but can be any height! */
.carousel-text{
    position:absolute;
    right:15%;
    top:10px;
    left:15%;
    z-index:10;
    padding-top:20px;
    padding-bottom:20px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
}

.carousel-text h1{
    font-size: 20px;
}

.carousel-text p{
    font-size: 16px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: brightness(0.55);
}

footer {
    margin: 50px 0 0 0;
}
}

@media all and (max-width : 420px) {
    .fill {
    width: 100%;
    height: 200px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: brightness(0.55);
    }
    .item,
    .active,
    .carousel-inner {
    height: 200px;
    }
    .carousel {
    height: 200px;
    }
    .carousel-text{
    top:10px;
    position:absolute;
    right:7%;
    left:7%;
    z-index:10;
    padding-top:20px;
    padding-bottom:20px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
    }
    .carousel-text h1{
    font-size: 20px;
    }
    .carousel-text p{
    font-size: 16px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
    }
}
@media all and (min-width : 421px) and (max-width : 550px) {
    .fill {
    width: 100%;
    height: 200px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: brightness(0.55);
    }
    .item,
    .active,
    .carousel-inner {
    height: 200px;
}
.carousel {
    height: 200px;

}
.carousel-text{
    top:20px;
    position:absolute;
    right:7%;
    left:7%;
    z-index:10;
    padding-top:20px;
    padding-bottom:20px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
}

.carousel-text h1{
    font-size: 20px;
}

.carousel-text p{
    font-size: 16px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
}
}

@media all and (min-width : 551px) and (max-width : 768px) {

    .fill {
    width: 100%;
    height: 200px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: brightness(0.55);
    }
    .item,
    .active,
    .carousel-inner {
    height: 300px;
}
.carousel {
    height: 200px;

}
.carousel-text{
    top : 20px;
    position:absolute;
    right:7%;
    left:7%;
    z-index:10;
    padding-top:20px;
    padding-bottom:20px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
}

.carousel-text h1{
    font-size: 20px;
}

.carousel-text p{
    font-size: 12px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
}

}
.carousel {
    height : 200px;
    margin-top:-20px;
}
.main_list_spec_l {
    width:29%;
    height:120px;
    background-color:#FFFFFF;
    float:left;
    margin: 2% 2%;
    display:inline-block;
        text-align:center;
    box-sizing:border-box;
       vertical-align:center;
    border:1px solid green;
    img {
    display:inline-block;
    width:100px;
    height:auto;
    }
    h1 {
    display:inline-block;
    color:green;
    font-size:25px;
    margin-top:40px;
    font-family: 'SsangmunDongB' !important;
    text-align:center;
    }
}