// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Bungee');
@font-face {
    font-family: 'SsangmunDongB';
    src: url(/assets/BMYEONSUNG_ttf.ttf) format('truetype');
}

h1, html, body, h2, h3, h4, h5, h6, li, p {
	font-family: 'SsangmunDongB';
}
.navbar_logo {
    font-family: 'Bungee', cursive;
    margin-right:100px;            
}

.main_list {
    position:relative;
    width:100%;
    height:100vh;
    background-color:white;
    margin-top:-20px;
}
.main_list_spec {
    width:29%;
    height:120px;
    background-color:#faaf3a;
    float: left;
    margin: 2% 2%;
    padding:20px 17px;
    display:inline-block;
        text-align:center;
    box-sizing:border-box;
       vertical-align:center;
    border:1px solid #faaf3a;
     -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
                &:hover {
                    h1 {
                    color: #faaf3a;
                    }
                    background-color:#FFFFFF;
                    -webkit-transform:scale(1.1);
                    -moz-transform:scale(1.1);
                    -ms-transform:scale(1.1);   
                    -o-transform:scale(1.1);
                    transform:scale(1.1);
                }
    img {
    display:inline-block;
    width:60px;
    height:auto;
    }
    h1 {
    display:inline-block;
    color:#FFFFFF;
    font-size:23px;
    font-family: 'SsangmunDongB' !important;
    text-align:center;
    vertical-align:center;
                 &:hover    {
                    color: #faaf3a;
                }
    }
}

.list_right {
    width:30%;
    height:100px;
    display:inline-block;
    position:relative;
    float:left;
}

.list_right img{
    width:85%;
    height:85%;
    margin:6%;
    border-radius:2px;
}

.list_each {
    display:inline-block;
    width:100%;
    font-family:'Noto Sans KR';
    height:80px;
    border-radius:3px;
    background-color:#F2F2F2;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}

.list_each:hover {
    -webkit-transform:scale(1.05);
    -moz-transform:scale(1.05);
    -ms-transform:scale(1.05);   
    -o-transform:scale(1.05);
    transform:scale(1.05);
}
.list_container {
    width:100%;
}
.list_all {
    width:100%;
    display:table;
    table-layout:fixed;
    padding:0;
}
.list_all_list {
    width:100%;
    display:table-cell;
    box-sizing:border-box;
}
.list_middle {
    margin-left:2%;
    width:65%;
    height:50px;
    display:inline-block;
    position:relative;
    float:left;
    table-layout:fixed;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    padding-bottom:5px;
    padding-left:10px;
}
.list_middle_middle {
    margin-left:1%;
    width:28%;
    height:50px;
    display:inline-block;
    position:relative;
    font-family:'Noto Sans KR';
    float:right;
    h3 {
    font-size:10px;
    margin-right:3px;
    font-family:'Noto Sans KR';
    display:inline-block;
    margin-bottom:3px;
    }
    h2 {
    font-size:15px;
    margin-left:3px;
    font-family:'Noto Sans KR';
    display:inline-block;
    margin-bottom:3px;  
    }
}
.list_middle h2 {
    text-align:left;
    font-size:20px;
    margin-top:5px;
    font-family:'Noto Sans KR';
    overflow: hidden;
    font-weight:600;
    margin-bottom:1px;
    small {
        font-size:60%;
        text-overflow:ellipsis;
        white-space: nowrap;
        overflow: hidden; 
    }
}

.list_middle span {
    color : #FA5858;
}

.list_middle_down {
    margin-left:2%;
    width:68%;
    margin-top:2px;
    height:30px;
    padding-left:10px;
     display:inline-block;
     position:relative;
    float:left;
    span {
    font-size:6px;
    }
}
.list_middle_down_right {
    margin-left:1%;
    width:25%;
    margin-top:2px;
    height:30px;
    display:inline-block;
    position:relative;
    float:right;
    span {
    font-size:13px;
    }
}
.list_left {
    width:28%;
    margin-right:2%;
    height:60px;
    display:inline-block;
    position:relative;
    float:left;
}
.list_left img {
    width:50px;
    height:50px;
    border-radius:50%;
    margin:9px 3px 3px 30px;
    
}

ul {
    list-style:none;
}

.upper {
 margin-top:-20px;
 width:100%;
 height:200px;
}

.upper img {
    width:100%;
    height:100%;
}

.middle_name {
    width:100%;
    height:250px;
    border-bottom:1px solid #faaf3a;
}
.middle_name{
    padding-left:15px;
    h1 {
    font-size:25px;
    font-family:'Noto Sans KR';
    font-weight:600;
    text-align:left;
    }
}
.middle_name_right {
    display:inline-block;
    float:right;
    width:49%;
    height:70px;
    padding-right:15px;
}
.middle_spec {
    width:100%;
    height:105px;
     font-family:'Noto Sans KR';
    border-bottom:1px solid #D8D8D8;
}
.circle {
    margin-top:15px;
    width:50px;
    height:50px;
    margin-left:auto;
    margin-right:auto;
    border-radius:50px;
    background-color:#faaf3a;
    padding-top:13px;
    p{
        font-size:20px;
        color:white;
        text-align:center;
        font-family:'Noto Sans KR';
    }
}

.circle_down {
    width:100%;
    height:25px;
    p {
        font-weight:400;
        margin-top:10px;
        font-family:'Noto Sans KR';
        text-align:center;
        font-size:12px;
    }
}

.menu_nav {
    float:center;
    margin-right:auto;
    margin-left:auto;
    width:100%;
    display:inline-block;
    position:relative;
}

.account_menu {
    width:100%;
    text-align:center;
    
}
.account_menubar {
    width:33%;
}
.account_menubar_i {
    width:33%;
}
.middle_name_left {
    float:left;
    width:49%;
    height:70px;
    position:relative;
}

.middle_name_left {
    float:left;
    width:49%;
    height:70px;
    position:relative;
}

.btn_call { 
    margin-top:20px;
    margin-left:5px;
    position:relative;
}
.reply_input_text {
    width:200px;
    float:left;
    margin-top:10px;
}
.review_input_div {
    width:100%;
    height:100px;
    border-bottom: 1px solid #D8D8D8;
}
.review_view {
    width:100%;
}
.review_each {
    position:relative;
    width:100%;
    border-bottom:1px solid #D8D8D8;
    height:auto;
    background-color:#f2f2f2;
    display: inline-block;
}
.review_profile {
    margin-top:8px;
    margin-left:8px;
    float:left;
    width:50px;
    height:50px;
    img {
        width:50px;
        height:50px;
        border-radius:50px;
    }   
}
.review_name {
    margin-top:8px;
    margin-left:8px;
    vertical-align:center;
    display:inline-block;
    width:150px;
    height:50px;
}
.menu_pic {
    width:100%;
    height:auto;
    margin-top:15px;
    margin-bottom:15px;
    display: inline-block;
    img {
        width:90%;
        margin-left:5%;
    }
}
.review_p {
    width:80%;
    margin-top:15px;
    margin-left:8px;
    float:left;
    height:auto;
    box-sizing:border-box;
    display: inline-block;
 p {
     font-family:'Noto Sans KR';
     width:80%;
 }
}
.replyeach_time {
    width:100%;
    height:auto;
    display: inline-block;
    p {
    margin-left:15px;
    text-align:right;
    font-family:'Noto Sans KR';
    }
}
.review_pic {
    margin-top:30px;
    width:100%;
    height:auto;
    padding-bottom:10px;
}
.review_pic img {
    width:90%;
    margin-left:5%;
    float:left;
    margin-top:10px;
    margin-bottom:10px;
}
.list-group{
  a {
      display:block;
  }   
}

.ad_list {
    color:black;
    font-family:selif;
    display:block;
} 

@media all and (max-width : 768px) {
.container {
    min-height:100%;
    padding-bottom: 150px;
    width:100%;
    padding-left:0px;
    padding-right:0px;
}
.navbar_logo {
    margin-right:40px;            
}
}
@media all and (min-width : 769px) {
.container {
    width:420px;
    padding-bottom: 150px;
    min-height:100%;
    padding-left:0px;
    padding-right:0px;
}
.navbar_logo {
    display:inline-block;
    width:200px;
    margin-right:50px;
    text-align:center;
}
.container-fluid {
    text-align:center;
}
.navbar-header {
    width:100%;
}
}
/*
 * Start Bootstrap - Half Slider (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
@media all and (min-width : 651px) {
/* You can change the height of the carousel by changing the height in the class below. It is set to 50% by default, but can be any height! */
.carousel-text{
    position:absolute;
    right:15%;
    top:10px;
    left:15%;
    z-index:10;
    padding-top:20px;
    padding-bottom:20px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
}

.carousel-text h1{
    font-size: 20px;
}

.carousel-text p{
    font-size: 16px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: brightness(0.55);
}

footer {
    margin: 50px 0 0 0;
}
}

@media all and (max-width : 420px) {
    .fill {
    width: 100%;
    height: 200px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: brightness(0.55);
    }
    .item,
    .active,
    .carousel-inner {
    height: 200px;
    }
    .carousel {
    height: 200px;
    }
    .carousel-text{
    top:10px;
    position:absolute;
    right:7%;
    left:7%;
    z-index:10;
    padding-top:20px;
    padding-bottom:20px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
    }
    .carousel-text h1{
    font-size: 20px;
    }
    .carousel-text p{
    font-size: 16px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
    }
}
@media all and (min-width : 421px) and (max-width : 550px) {
    .fill {
    width: 100%;
    height: 200px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: brightness(0.55);
    }
    .item,
    .active,
    .carousel-inner {
    height: 200px;
}
.carousel {
    height: 200px;

}
.carousel-text{
    top:20px;
    position:absolute;
    right:7%;
    left:7%;
    z-index:10;
    padding-top:20px;
    padding-bottom:20px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
}

.carousel-text h1{
    font-size: 20px;
}

.carousel-text p{
    font-size: 16px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
}
}

@media all and (min-width : 551px) and (max-width : 768px) {

    .fill {
    width: 100%;
    height: 200px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: brightness(0.55);
    }
    .item,
    .active,
    .carousel-inner {
    height: 300px;
}
.carousel {
    height: 200px;

}
.carousel-text{
    top : 20px;
    position:absolute;
    right:7%;
    left:7%;
    z-index:10;
    padding-top:20px;
    padding-bottom:20px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
}

.carousel-text h1{
    font-size: 20px;
}

.carousel-text p{
    font-size: 12px;
    color:#fff;
    text-align:center;
    text-shadow:0 1px 2px rgba(0,0,0,.6);
}

}
.carousel {
    height : 200px;
    margin-top:-20px;
}
.main_list_spec_l {
    width:29%;
    height:120px;
    background-color:#FFFFFF;
    float:left;
    margin: 2% 2%;
    display:inline-block;
    text-align:center;
    box-sizing:border-box;
    vertical-align:center;
    border:1px solid #D8D8D8;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
                 &:hover {
                    h1 {
                    color: #FFFFFF;
                    }
                    background-color:#faaf3a;
                    border: 1px solid #faaf3a;
                     -webkit-transform:scale(1.1);
                    -moz-transform:scale(1.1);
                    -ms-transform:scale(1.1);   
                    -o-transform:scale(1.1);
                    transform:scale(1.1);
                }
    img {
    display:inline-block;
    width:100px;
    height:auto;
    }
    h1 {
    display:inline-block;
    color:#faaf3a;
    font-size:24px;
    margin-top:40px;
    font-family: 'SsangmunDongB' !important;
    text-align:center;
    }
}

// 페이지네이션

.pagination_div {
    text-align: center;
}
    .current {
        display: inline-block;
        font-size: 16px;
        text-decoration: none;
        padding-top:10px;
        font-weight: bold;
        display:inline-block;
        box-sizing: border-box;
        width:40px;
        height:40px;
        background-color: white;
        border-radius:3px;
        border:0.5px solid #BDBDBD;
        color: #2f609c;
        font-style: normal;
    }
    .pagination a {
        color:#cccccc !important;
        font-size:16px;
        font-style: normal;
        border-radius:3px;
        display:inline-block;
        box-sizing: border-box;
        width:40px;
        padding-top:10px;
        border:0.5px solid #BDBDBD;
        background-color: white;
        height:40px;
    }

    .pagination_links a{
        display:none;
    }
    .next_page,.previous_page{
        color:#cccccc !important;
        font-size:16px;
        font-style: normal;
        border-radius:3px;
        display:inline-block;
        box-sizing: border-box;
        width:40px;
        padding-top:10px;
        border:0.5px solid #BDBDBD;
        background-color: white;
        height:40px;
    }
    .pagination_links{
        text-align: center;
    }
    .previous_page.disabled, .next_page.disabled{
        display: none !important;
    }
    .pagination_links a{
        text-decoration: none;
    }
    .pagination_links a:hover{
        text-decoration: underline;
    }
    .pagination_links span{
        text-decoration: none;
        display: inline-block;
        color: #000000;
    }
@media all and (max-width : 420px) {
.current {
        display: inline-block;
        font-size: 12px;
        text-decoration: none;
        padding-top:5px;
        font-weight: bold;
        display:inline-block;
        box-sizing: border-box;
        width:25px;
        height:25px;
        background-color: white;
        border-radius:3px;
        border:0.5px solid #BDBDBD;
        color: #2f609c;
        font-style: normal;
    }
    .pagination a {
        color:#cccccc !important;
        font-size:12px;
        font-style: normal;
        border-radius:3px;
        display:inline-block;
        box-sizing: border-box;
        width:25px;
        padding-top:5px;
        border:0.5px solid #BDBDBD;
        background-color: white;
        height:25px;
    }
     .next_page,.previous_page{
        color:#cccccc !important;
        font-size:12px;
        font-style: normal;
        border-radius:3px;
        display:inline-block;
        box-sizing: border-box;
        width:25px;
        padding-top:5px;
        border:0.5px solid #BDBDBD;
        background-color: white;
        height:25px;
    }
    .pagination_div {
        margin-top:-5px;
        text-align: center;
    }
}
.admin_subtitle {
    width:100%;
    padding:20px auto;
}
// 페이지네이션 끝
  // 게시판 
    .table {
        width:100%;
        text-align:center;
    }
    .table_head_row {
        text-align:center;
        background-color:#C0C0C0;
        height:40px;
    }
    .table_head_num {
        width:20%;
         text-align:center;
    }
    .table_head_title {
        width:40%;
         text-align:center;
    }
    .table_head_day {
        width:19%;
         text-align:center;
    }
    .table_con_row {
        text-align:center;
        background-color:white;
        height:40px;
        border-bottom:1px solid #c0c0c0;
    }
    
    .map_control {
        width:100%;
        height:90px;
        padding:10px;
    }
    
    
    .member_div {
    background-color:#f2f2f2;
    height:240px;
    margin-left:15px;
    margin-top:15px;
}
.teams_title {
    margin-left:15px;
    h2 {
        font-weight:bold;
    }
}
.teams_pic {
    width:25%;
    height:auto;
    float:left;
    img {
        margin-top:15px;
        width:100%;
        height:100px;
    }
}
.teams_detail {
    width:68%;
    margin-left:2%;
    margin-top:10px;
    float:left;
}
.teams_tag {
    font-size:12px;
    font-weight:600;
    color:#faaf3a;
}
@media screen and (max-width : 768px) {
.skkuta-nav {
    display:none;
}
.member_div {
    background-color:#f2f2f2;
    height:170px;
    margin-top:15px;
}
}

.foot {
    position:relative;
    margin-top:50px;
    width:100%;
    height:150px;
}

.btn_write_one_story {
    float: right;
    width: 65px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:10px;
    height: 25px;
    color: white;
    margin-left: 15px;
    font-size: 12px;
    font-weight: 600;
    font-family:'Noto Sans KR';
    background-color: #faaf3a;
    border: none;
}

// 검색기능
.searchbox {
    width:100%;
    height:50px;
    background-color:#f2f2f2;
    margin-bottom:20px;
    display:inline-block;
    box-sizing:border-box;
    .btn_search {
        border:none;
        margin-top:5px;
        background-color:#f2f2f2;
    }
    .glyphicon_search_size {
       font-size:20px;
       background-color:#f2f2f2;
    }
    .search_input {
        font-family:'Noto Sans KR';
        width:90%;
        margin-top:5px;
        float:left;
    }
}
.tag_area {
    width: 90%;
    height: 200px;
    text-align: left;
    border: none;
    font-size: 14px;
    display: inline-block;
    background-color: #FAFAFA;
    resize: none;
}
.tag_style {
    font-weight: 600;
    font-size: 13px;
    word-break:keep-all;
    word-wrap: break-word;
    margin:3px;
    color: #faaf3a;
    font-family:'Noto Sans KR';
    border: 1px solid #faaf3a;
    border-radius: 20px;
    padding: 4px 8px 4px 8px;
}
.store_tag {
    width:100%;
    height:90px;
    white-space:normal;
    word-break:keep-all;
    word-wrap: break-word;
    line-height:30px;
    display:inline-block;
    box-sizing:border-box;
}
.middle_intro {
    width:100%;
    height:35px;
    display:inline-block;
    padding:10px;
    white-space:normal;
}
.now_skkuta {
    width:100%;
    height:40px;
    padding-top:10px;
    background-color:#f2f2f2;
    h2 {
    font-family:'Noto Sans KR';
    margin-top:0px;
    margin-bottom:0px;
    font-size:13px;
    font-weight:600;
    text-align:center;
    .now_number {
    color:#faaf3a;
    }
    }
}
.now_skkuta_c {
    width:100%;
    height:40px;
    padding-top:10px;
    background-color:#D8D8D8;
    h2 {
    font-family:'Noto Sans KR';
    margin-top:0px;
    margin-bottom:0px;
    font-size:13px;
    font-weight:600;
    text-align:center;
    .now_number {
    color:#faaf3a;
    }
    }
}
.now_review {
    margin-top:10px;
    width:100%;
    height:230px;
    h3 {
    padding-left:10px;
    width:100%;
    padding-bottom:5px;
    height:13px;
    font-weight:600;
    font-size:14px;
    box-sizing:border-box;
    display:inline-block;
    font-family:'Noto Sans KR';
    margin:0;
    }
    .each_now_review {
    width:100%;
    height:45px;
    box-sizing:border-box;
    display:inline-block;
    border-top:1px solid #f2f2f2;
    padding:3px;
    .each_r_text {
    text-align:left;
    padding-left:5px;
    padding-top:3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    width:70%;
    float:left;
    font-family:'Noto Sans KR';
    }
    .each_r_store {
    text-align:right;
    padding-right:5px;
    width:25%;
    float:right;
    font-size:12px;
    font-family:'Noto Sans KR';
    }
    }
}
 .more_review {
        width:100%;
        padding-top:7px;
        height:45px;
        text-align:center;
        font-family:'Noto Sans KR';
        box-sizing:border-box;
        display:inline-block;
        border-top:1px solid #f2f2f2;
        p {
            font-family:'Noto Sans KR';
            font-weight:600;
            color:#faaf3a;
        }
    }

.foot {
    position:relative;
    margin-top:-150px;   
    border-top:1px solid #D8D8D8;
    width:100%;
    text-align:center;
    padding-top:50px;
    padding-bottom:50px;
    height:150px;
}
.foot_copy {
    margin-top:15px;
    width:100%;
    text-align:center;
}

html, body {
    height:100%;
}

.now_review_list {
    margin-top:10px;
    width:100%;
    height:800px;
    h3 {
    padding-left:10px;
    width:100%;
    padding-bottom:5px;
    height:13px;
    font-weight:600;
    font-size:14px;
    box-sizing:border-box;
    display:inline-block;
    font-family:'Noto Sans KR';
    margin:0;
    }
    .each_now_review {
    width:100%;
    height:45px;
    box-sizing:border-box;
    display:inline-block;
    border-top:1px solid #f2f2f2;
    padding:3px;
    .each_r_text {
    text-align:left;
    padding-left:5px;
    padding-top:3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    width:70%;
    float:left;
    font-family:'Noto Sans KR';
    }
    .each_r_store {
    text-align:right;
    padding-right:5px;
    width:25%;
    float:right;
    font-size:12px;
    font-family:'Noto Sans KR';
    }
    }
}

.spec_map {
    width:90%;
    display:inline-block;
    margin-left:5%;
    margin-right:4%;
    float:right;
    height:400px;
}

.map_btn {
    font-family:'Noto Sans KR';
    display:inline-blokc;
    box-sizing:border-box;
    margin-top:10px;
    margin-left:10px;
}
.index_post {
    margin-top:470px;
    width:100%;
    .post_title {
    width:100%;
    display:inline-block;
    box-sizing:border-box;
    height:40px;
    padding-top:10px;
    padding-left:15px;
    h3 {
    height:50px;
    font-family:'Noto Sans KR';
    margin-top:0px;
    margin-bottom:0px;
    font-size:13px;
    font-weight:600;
    text-align:left;
    }
    }
}
.talk_with {
    width:95%;
    margin-left:2%;
    cursor:pointer;
    box-sizing:border-box;
    display:inline-block;
    height:40px;
    padding-top:10px;
    padding-left:15px;
    background-color:#f2f2f2;
    p {
    height:50px;
    font-family:'Noto Sans KR';
    margin-top:0px;
    margin-bottom:0px;
    font-size:13px;
    font-weight:600;
    text-align:left;
    }
}
.talk_with_2 {
    width:95%;
    cursor:pointer;
    margin-left:2%;
    box-sizing:border-box;
    height:40px;
    padding-top:10px;
    padding-left:15px;
    background-color:#D2D2D2;
    p {
    height:50px;
    font-family:'Noto Sans KR';
    margin-top:0px;
    margin-bottom:0px;
    font-size:13px;
    font-weight:600;
    text-align:left;
    }
}

.select_random {
    padding-left:15px;
    width:100%;
    margin-top:0px;
    h2 {
    height:50px;
    font-family:'Noto Sans KR';
    margin-top:0px;
    margin-bottom:0px;
    font-size:17px;
    font-weight:600;
    text-align:left;
    }
}
.random_btn {
    width:90%;
    margin-left:5%;
    height:40px;
    padding-top:12px;
    box-sizing:border-box;
    display:inline-block;
    background-color:#faaf3a;
    h2 {
    font-family:'Noto Sans KR';
    margin-top:0;
    font-size:13px;
    font-weight:600;
    text-align:center;    
    }
}

.select_area {
    width:100%;
    height:auto;
    padding:15px;
    border:1px solid #f2f2f2;
    padding-left:15px;
    form {
        font-family:'Noto Sans KR';
        font-size:10px;
    .choice {
        display:block;
        width:100%;
    }
    select {
        margin-top:10px;
        option {
            font-family:'Noto Sans KR';
            margin-top:0;
            font-size:13px;
            font-weight:600;
            text-align:left;    
        }
    }
    }
    h2 {
    display:inline-block;
    box-sizing:border-box;
    margin-top:15px;
    margin-left:10px;
    font-family:'Noto Sans KR';
    margin-top:0;
    font-size:13px;
    font-weight:600;
    text-align:left;    
    }
}
.login_complete {
    width:100%;
    height:40px;
    padding:8px;
    text-align:center;
    p {
    font-family:'Noto Sans KR';
    font-size: 13px;
    }
}
.login {
    width:100%;
    height:40px;
    .login_normal {
    float:left;
    width:50%;
    padding-top: 10px;
    height:40px;
    font-family:'Noto Sans KR';
    a {
    font-family:'Noto Sans KR';
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 600;
    color:#333;
    text-align: center;
    }
    text-align:center;
    }
    .login_fb {
    float:right;
    width:50%;
    text-align:center;
    color:white;
    padding-top: 10px;
    background-color:#365899;
    height:40px;
    a {
    font-family:'Noto Sans KR';
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
    font-weight: 600;
    color:white;
    text-align: center;
    }
    }
}

.login_box {
    margin-left:2%;
    width:95%;
    height:250px;
    box-shadow: 5px 5px 5px lightgray;
    font-family:'Noto Sans KR';
    #user_email{
    margin-left:1%;
    height:40px;
    width:95%;
    }
    #user_password{
    margin-left:1%;
    width:95%;
    height:40px;
    }
    #user_password_confirmation{
    margin-left:1%;
    width:95%;
    height:40px;
    }
    .actions{
    input{
    width:100%;
    background-color:#faaf3a;
    height:40px;
    margin-top:20px;
    margin-left:1%;
    width:95%;
    border: none;
    font-family:'Noto Sans KR';
    color:white;
    font-weight:600;
    }
    }
    .field {
    margin-top:10px;
    }
}

.login_top {
    width:100%;
    h2{
    font-family:'Noto Sans KR';
    font-weight:600;
    color:#faaf3a;
    }
    text-align:center;
}

.btn_sign_up {
    padding-top:7px;
    display:block;
    box-sizing:border-box;
    background-color:#f2f2f2;
    text-align:center;
    width:95%;
    margin-left:2%;
    height:40px;
    font-family:'Noto Sans KR';
    color:#333;
    font-weight:600;
    &:hover { 
    color: #333;
    text-decoration: none;
}
}

.btn_forgot {
    padding-top:7px;
    display:block;
    box-sizing:border-box;
    background-color:#f2f2f2;
    text-align:center;
    width:95%;
    margin-left:2%;
    height:40px;
    font-family:'Noto Sans KR';
    color:#333;
    font-weight:600;
    &:hover { 
    color: #333;
    text-decoration: none;
}
}

.btn_facebook {
    padding-top:7px;
    display:block;
    box-sizing:border-box;
    background-color:#365899;
    text-align:center;
    width:95%;
    margin-left:2%;
    height:40px;
    font-family:'Noto Sans KR';
    color:white;
    font-weight:600;
    &:hover { 
    color: #333;
    text-decoration: none;
}
}

.person_slide {
    margin:0;
    padding-left:0;
    width:300px;
    height:50px;
    font-family:'Noto Sans KR';
    background-color:white;
    .slide_profile_image{
    margin-top:5px;
    display:inline-block;
    margin-left:5px;
    width:40px;
    height:40px;
    img {
    width:40px;
    height:40px;
    border-radius:40px;
    }
    }
    .slide_profile_name {
    width:100px;
    height:40px;
    margin-top:5px;
    margin-left:5px;
    display:inline-block;
    h3 {
    font-family:'Noto Sans KR';
    font-size:13px;
    margin:0;
    padding:0;
    }
    }
    .back {
    float:right;
    width:50px;
    height:50px;
    font-size:15px;
    font-weight:600;
    font-family:'Noto Sans KR';
    background-color:white;
    border:none;
    }
}

.slide_menu {
 margin-top:10px;
 padding-left:10px;
 li {
     display:block;
     box-sizing:border-box;
     width:300px;
     height:40px;
     font-family:'Noto Sans KR';
     color:white;
 }
}

.slide_head {
    font-weight:600;
}
.account_title {
    height:40px;
    width:100%;
    text-align:left;
    padding-top:10px;
    padding-left:15px;
    p {
    font-size:15px;
    font-weight:600;
    font-family:'Noto Sans KR';
    }
}
.account_top {
    background-color:white;
    width:100%;
    height:80px;
    
    .account_image {
    display:inline-block;
    margin-top:10px;
    float:left;
    margin-left:15px;
    width:60px;
    border-radius:60px;
    height:60px;
    img {
    border-radius:60px;
    width:60px;
    height:60px;
    }
    }
    .account_name {
    display:inline-block;
    margin-top:10px;
    margin-left:15px;
    float:left;
    p {
    margin-top:2px;
    margin-bottom:2px;
    font-family:'Noto Sans KR';   
    font-weight:600;
    small {
    font-weight:400;
    }
    }
    }
}

.picture-overlay {
            position: relative;
            width: 50px;
            height: 50px;
            color: #fff;
            font-size: 34px;
            opacity: 0;
            text-align: center;
            .glyphicon {
            &:hover {
            opacity:.5;
            }
            }
}
.picture-overlay .glyphicon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -17px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.picture-overlay input {
    font-size: 13px;
    width:50px;
    height:50px;
    opacity: 0;
}
.star {
    width:100%;
    height:50px;
    margin-top:20px;
    text-align:center;
    img {
    width:15%;
    }
    .raty-cancel{
    display:none;
    }
}

.star_box {
    bottom:0px;
    height:40px;
    position:relative;
    width:100%;
    border-right:1px solid #faaf3a;
    border-bottom:1px solid #faaf3a;
    margin-top:0px;
    display:block;
.avg_point {
     float:left;
    width:20%;
    display:inline-block;
    padding-left:5px;
    height:40px;
    background-color:#faaf3a;
    p {
    font-family:'Noto Sans KR';   
    font-weight:600;
    margin-bottom:0px;
    color:white;
    font-size:20px;
    }
    h5 {
    margin-top:-5px;
    font-size:8px;
    color:white;
    font-family:'Noto Sans KR';  
    }
}
.tot_member {
    float:left;
    padding-left:5px;
    width:20%;
    display:inline-block;
    height:40px;
     p {
    font-family:'Noto Sans KR';   
    font-weight:600;
    margin-bottom:0px;
    color:#333;
    font-size:20px;
    }
    h5 {
    margin-top:-5px;
    font-size:8px;
    color:#333;
    font-family:'Noto Sans KR';  
    }
}
.go_point {
    float:left;
    width:20%;
    position:relative;
    display:inline-block;
    height:40px;
    padding-top:10px;
    text-align:center;
    background-color:#faaf3a;
    a {
    font-family:'Noto Sans KR';   
    font-weight:600;
   
    color:white;
    font-size:13px;
    }
}
.view_count_point {
    float:left;
    width:20%;
    background-color:#faaf3a;
    display:inline-block;
    height:40px;
    p {
    text-align:right;
    font-family:'Noto Sans KR';   
    font-weight:600;
    margin-bottom:0px;
    color:white;
    font-size:20px;
    }
    h5 {
    text-align:right;
    margin-top:-5px;
    font-size:8px;
    color:white;
    font-family:'Noto Sans KR';  
    }
}
}

// 모달 css 시작

.modal_buttons{
    margin-top: 2px;
    float: right;
}
@media all and (min-width : 768px) and (max-width : 970px) {
.modal_buttons{
    margin-top: 2px;
    float: right;
    margin-right:-40px;
    }
}

.modal_left {
    display:table;
    position:relative;
    float:left;
    width:49%;
}

.modal_right {
    position:relative;
    float:right;
    padding-left:2%;
    width:49%;
    height:440px;
    border-left:1px solid gray;
}
.modal_left_pic {
   position: relative;
   padding-top: 100%;  /* 1:1 ratio */
   overflow: hidden;
}
.modal_left_pic .centered {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(50%,50%);
    -ms-transform: translate(50%,50%);
    transform: translate(50%,50%);
}

.modal_left_pic .centered img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.modal_pic_wrapper {
    width: 100%;
}

.modal_title_post {
    font-size: 15px;
    font-weight:700;
    width: 100%;
}
.title_10 {
    float:left;
    width:10%;
}
.title_20 {
    float:left;
    width:20%;
}
.title_88 {
    float:left;
    width:88%;
}
.title_78 {
    float:left;
    width:78%;
}
.title_font_post {
    color: #faaf3a;
    font-weight: 600;
    font-size: 15px;
    text-align:left;
}
.modal_post_content {
    top:20px;
    margin-top:30px;
}
.modal_post_content_div {
    margin-top:10px;
    padding-bottom: 30px;
    float:left;
    display:inline-block;
}
.modal_post_content_p {
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
}

.header-modal-post {
    width:100%;
    height:80px;
}


.header-modal {
    border: none;
}


.title_font {
    color: #faaf3a;
    font-weight: 800;
    font-size: 20px;
    float: left;
}
.btn_close_modal {
    display: block;
    float: right;
    color: #333333;
    font-weight: 100;
    font-size: 24px;
    background: none;
    border: none;
}
.modal_middle {
    vertical-align: middle;
    text-align: center;
    width: 400px;
    margin: 30px auto 100px auto;
}
.modal_title {
    display:inline-block;
    font-size: 22px;
    font-weight:700;
    letter-spacing: -0.5px;
    width: 100%;
}
.modal_title_demon {
    display:inline-block;
    font-size: 14px;
    font-weight:300;
    letter-spacing: -0.5px;
}
.fb_api {
    background-color: #365899;
    color: white;
    width: 300px;
    height: 40px;
    padding-top:5px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size: 18px;
    border-radius: 6px;
    margin: 15px 0;
}
.fb_api a {
    color :white;
    margin-top:5px;
    font-size: 15px;
    text-align: center;
}
.modal_input {
    display: inline-block;
    width: 300px;
    height: 40px;
    margin-top: 10px;
    background-color: #F3F3F3;
    border-radius: 6px;
    border: none;
    color: black;
}
.btn_modal_login {
    display: inline-block;
    width: 300px;
    height: 40px;
    background-color: #faaf3a;
    border-radius: 6px;
    margin-top: 20px;
    color: white;
    text-align: center;
    font-size: 22px;
    border: none;
    font-weight: 800;
}
.modal_signup_notice {
    text-align: center;
    font-size:15px;
}
.modal_link_contract {
    text-decoration: underline;
}
.modal_img {
    width: 200px;
}
.modal_mail_sent {
    display:inline-block;
    font-size: 20px;
    font-weight:900;
    letter-spacing: -0.5px;
}
.selected_univ {
    width: 120px;
    margin-left: 0px;
    font-size: 14px;
    line-height: 40px;
}
.selected_univ_email {
    width: 180px;
    vertical-align: top;
}
.email_content {
    resize: none;
    height: 200px;
    width: 400px;
    border: none;
    font-size: 14px;
    background: #F3F3F3;
}

@media all and (max-width : 768px) {
.btn_write_one_story_delete_collect {
    display:inline-block;
}
.modal_left {
    display:table;
    position:relative;
    float:left;
    width:98%;
    margin-right:1%;
    margin-left:1%;
}

.modal_right {
    position:relative;
    float:right;
    padding-left:15px;
    width:98%;
    height:440px;
    border-left:none;
    margin-right:1%;
    margin-left:1%;
}
.modal_left_pic {
   position: relative;
   padding-top: 100%;  /* 1:1 ratio */
   overflow: hidden;
}
.modal_left_pic .centered {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(50%,50%);
    -ms-transform: translate(50%,50%);
    transform: translate(50%,50%);
}

.modal_left_pic .centered img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.modal_pic_wrapper {
    width: 100%;
}

.modal_title_post {
    font-size: 15px;
    font-weight:600;
    width: 100%;
}
.title_10 {
    float:left;
    width:20%;
}
.title_20 {
    float:left;
    width:30%;
}
.title_88 {
    float:left;
    width:78%;
}
.title_78 {
    float:left;
    width:68%;
}
.title_font_post {
    color: #faaf3a;
    font-weight: 600;
    font-size: 15px;
}
.modal_post_content {
    top:20px;
    margin-top:30px;
}
.modal_post_content_div {
    margin-top:10px;
    float:left;
    display:inline-block;
}
.modal_post_content_p {
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
}
.header-modal {
    border: none;
}
.title_font {
    color: #faaf3a;
    font-weight: 800;
    font-size: 20px;
    float: left;
}
.btn_close_modal {
    display: block;
    float: right;
    color: #333333;
    font-weight: 100;
    font-size: 24px;
    background: none;
    border: none;
}
.modal_middle {
    vertical-align: middle;
    text-align: center;
    width: 300px;
    margin: 30px auto 100px auto;
}
.modal_title {
    display:inline-block;
    font-size: 22px;
    font-weight:700;
    letter-spacing: -0.5px;
    width: 100%;
}
.modal_title_demon {
    display:inline-block;
    font-size: 14px;
    font-weight:300;
    letter-spacing: -0.5px;
}
.fb_api {
    background-color: #365899;
    color: white;
    width: 270px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size: 18px;
    margin: 15px 0;
}

.fb_api a {
    color :white;
}

.modal_input {
    display: inline-block;
    width: 270px;
    height: 40px;
    margin-top: 10px;
    background-color: #F3F3F3;
    border: none;
    color: black;
}
.btn_modal_login {
    display: inline-block;
    width: 240px;
    height: 40px;
    background-color: #faaf3a;
    border-radius: 6px;
    margin: 20px 0 20px 0;
    color: white;
    text-align: center;
    font-size: 22px;
    border: none;
    font-weight: 800;
}
.modal_signup_notice {
    text-align: center;
    font-size:15px;
}
.modal_link_contract {
    text-decoration: underline;
}
.modal_img {
    width: 200px;
}
.modal_mail_sent {
    display:inline-block;
    font-size: 20px;
    font-weight:900;
    letter-spacing: -0.5px;
}
.selected_univ {
    width: 120px;
    margin-left: 0px;
    font-size: 14px;
    line-height: 40px;
}
.selected_univ_email {
    width: 180px;
    vertical-align: top;
}
.email_content {
    resize: none;
    height: 200px;
    width: 400px;
    border: none;
    font-size: 14px;
    background: #F3F3F3;
}
}
// 모달 css 끝

.account_review_view {
    width:100%;
    .no_post {
     font-family:'Noto Sans KR';
     text-align:center;
     margin-top:30px;
    }
}
.account_review_each {
    position:relative;
    width:100%;
    margin-top:10px;
    border-bottom:1px solid #f2f2f2;
    height:auto;
    background-color:white;
    display: inline-block;
    a {
    margin-left:10px;
    font-family:'Noto Sans KR';
    }
}
.account_review_profile {
    margin-top:8px;
    margin-left:8px;
    float:left;
    width:50px;
    height:50px;
    img {
        width:50px;
        height:50px;
        border-radius:50px;
    }   
}
.account_review_name {
    margin-top:8px;
    margin-left:8px;
    vertical-align:center;
    display:inline-block;
    width:150px;
    height:50px;
    a {
        color : #333;
        margin-left:0;
    }
    p{
        font-weight:600;
        font-family:'Noto Sans KR';
        small{
        width:70%;
        font-weight:400;
        margin-left:10px;
        }
    }
}
.menu_pic {
    width:100%;
    height:auto;
    margin-top:15px;
    margin-bottom:15px;
    display: inline-block;
    img {
        width:90%;
        margin-left:5%;
    }
}
.account_review_p {
    width:100%;
    margin-top:15px;
    padding-left:10px;
    float:left;
    height:auto;
    box-sizing:border-box;
    display: inline-block;
 p {
     min-height:80px;
     font-family:'Noto Sans KR';
     width:92%;
 }
}
.account_replyeach_time {
    width:80%;
    height:40px;
    float:left;
    display: inline-block;
    p {
    text-align:left;
    font-size:10px;
    font-family:'Noto Sans KR';
    }
}
.account_review_pic {
    margin-top:20px;
    width:100%;
    height:auto;
    padding-bottom:10px;
}
.account_review_pic img {
    width:100%;
    float:left;
    margin-top:10px;
    margin-bottom:10px;
}

.account_middle {
    box-sizing:border-box;
    display:inline-block;
    background:white;
    margin-top:10px;
    width:100%;
    height:120px;
    li {
    list-style:none;
    width:100%;
    font-family:'Noto Sans KR';
    height:40px;
    }
}

#btn-upload {
     width:100%;
     height:40px;
     border-left:0;
     border-right:0;
     border-top:0;
     padding-left:10px;
     text-align:left;
     border-bottom:1px solid #f2f2f2;
     background-color:white;
}

.one_spec_btn {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #808080;
    border-radius: 40px;
    vertical-align: middle;
    text-align: center;
    margin-top: 15px;
    margin-left: 40px;
    line-height: 40px;
    cursor: pointer;
    outline:none;
    float:right;
}

.one_spec_btn img{
    margin-bottom: 11px;
}

.one_spec_btn:hover {
    background-color: #faaf3a;
}
.n_of_like {
    font-size: 14px;
    position: absolute;
    padding-left: 15px;
    padding-right: 25px;
    margin-top: -4px;
    color: #808080;
}
.n_of_like:hover {
    color: #faaf3a;
}

.account_review_each_all {
    margin-top:5px;
}

.team_qna_question {
    width:100%;
    float:left;
    padding-left:8px;
    border-bottom:1px solid #f2f2f2;
    padding-right:8px;
    padding-top:8px;
    padding-bottom:10px;
    box-sizing:border-box;
    min-height:60px;
    height:auto;
    font-family:'Noto Sans KR';
    background-color:white;
    .team_qna_name {
    width:20%;
    cursor:pointer;
    position:relative;
    height:30px;
    font-family:'Noto Sans KR';
    font-weight:600;
    float:left;
    margin-bottom:5px;
    display:inline-block;
    }
    .team_qna_time {
    width:40%;
    box-sizing: border-box;
    font-family:'Noto Sans KR';
    height:30px;
    position:relative;
    margin-bottom:5px;
    float:left;
    display:inline-block;
    }
    .team_qna_each_content {
    width:100%;
    min-height:30px;
    float:left;
    font-family:'Noto Sans KR';
    position:relative;
    height:auto;
    }
}
.team_qna_answer_div {
   font-family:'Noto Sans KR';
   width:100%;
   height:50px;
   padding:5px;
   position:relative;
   border-bottom:1px solid #f2f2f2;
   background-color:white;
   .team_intro_text {
    display:inline-block;
    float:left;
    width:80%;
   }
   .team_qna_answer_btn_btn {
    display:inline-block;
    float:left;
    margin:5px;
    width:15%;
   }
}
.icon_div {
    text-align:center;
    width:20%;
    display:inline-block;
    float:left;
}

// 포스트 생성

.post_w_up {
    width:100%;
    height:40px;
    margin-top:-10px;
    border-bottom:1px solid #f2f2f2;
    padding-left:10px;
    font-family:'Noto Sans KR';
    .post_w_title{
        width:70%;
        float:left;
        display:inline-block;
        height:40px;
        p {
         font-family:'Noto Sans KR';  
         font-weight:600;
        }
    }
     .post_w_complete{
        width:28%;
        display:inline-block;
        float:right;
        height:40px;
        padding-right:10px;
        p {
         font-family:'Noto Sans KR';  
         font-weight:600;
         text-align:right;
        }
    }
}
.post_w_area {
    width:100%;
    font-family:'Noto Sans KR';  
    resize:none;
    height:500px;
}
.post_pic_up {
    padding-left:10px;
    padding-top:5px;
    width:100%;
    height:50px;
    font-family:'Noto Sans KR'; 
    display:inline-block;
    border-bottom:1px solid #f2f2f2;
    label {
    display: inline-block; 
    padding: .5em .75em; 
    color: #999; 
    font-size: inherit; 
    line-height: normal; 
    vertical-align: middle; 
    background-color: #fdfdfd; 
    cursor: pointer; border: 
    1px solid #ebebeb; 
    border-bottom-color: #e2e2e2; 
    border-radius: .25em;
    }
    .upload-hidden {
    position: absolute; 
    width: 1px;
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0;
    }
    .upload-name {
     display: inline-block;
     padding: .5em .75em; 
     font-size: inherit; 
     font-family: inherit; 
     line-height: normal; 
     vertical-align: middle; 
     background-color: #f5f5f5; 
     border: 1px solid #ebebeb; 
     border-bottom-color: #e2e2e2; 
     border-radius: .25em; 
     -webkit-appearance: none;
     -moz-appearance: none; 
     appearance: none;
    }
}

.name_edit {
    float:left;
    display:inline-block;
    width:60%;
    margin-top:10px;
    margin-bottom:10px;
}

.more_reply {
    width:100%;
    display:inline-block;
    float:left;
    padding-top:5px;
    position:relative;
    height:40px;
    background-color:white;
    border-top:1px solid #f2f2f2;
    border-bottom:1px solid #f2f2f2;
    text-align:center;
    cursor:pointer;
    p {
    color :#faaf3a;
    font-weight:600;
    font-family:'Noto Sans KR'; 
    }
}

.like_btn {
    background-color:white;
    position:relative;
    border:none;
    color:#f44259;
    font-size:20px;
    text-decoration:none;
    z-index:998;
    margin-top:10px;
    margin-left:20px;
}
.like_btn:focus {
outline: 0;
box-shadow: none;
}
.reply_icon {
    display:inline-block;
    font-size:18px;
    box-sizing:border-box;
}
.reply_icon_div {
    margin-left:20px;
    display:inline-block;
    width:20%;
    float:left;
    height:35px;
   
    p {
    margin-left:8px;
    display:inline-block;
     font-family:'Noto Sans KR'; 
    }
}

.like_div {
   display:inline-block;
   font-family:'Noto Sans KR'; 
}
.like_div_interval {
    display:inline-block;
    height:30px;
    width:30%;
}

.to_ceo_div {
    width:100%;
    min-height:600px;
    padding:10px;
    h4 {
    margin-top:30px;
    display:block;
    font-family:'Noto Sans KR'; 
    font-weight:600;
    strong {
    color:#faaf3a;
    }
    }
    h5 {
    font-size:15px;
    text-align:right;
    }
}

.admin {
    width:100%;
    li {
    width:100%;
    font-family:'Noto Sans KR'; 
    height:40px;
    }
}

.pagination {
    display:none;
}

#spinner {
      width: 40px;
      height: 40px;
      background-color: #f7931e;
      position:absolute;
      z-index:999;
      left:47%;
      margin: 50px auto;
      -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
      animation: sk-rotateplane 1.2s infinite ease-in-out;
}
 @-webkit-keyframes sk-rotateplane {
      0% { -webkit-transform: perspective(120px) }
      50% { -webkit-transform: perspective(120px) rotateY(180deg) }
      100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
    }

 @keyframes sk-rotateplane {
      0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
      } 50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      }
    }
    
.term_div {
    h3 { font-family:'Noto Sans KR'; }
    p { font-family:'Noto Sans KR'; }
}

.dropdown {
    display:inline-block;
    float:right;
    margin-right:5px;
    margin-top:5px;
    font-family:'Noto Sans KR';
    .dropdown-menu {
    left: -65px;
    min-width: 100px;
    }
}
.navbar {
    margin-bottom: 0px;
}

.container {
    padding-top:20px;
}

.privacy {
    p {font-family:'Noto Sans KR';}
    h2 {font-family:'Noto Sans KR';
        font-size:20px;
    }
}

.check_term {
    padding:8px;
    margin-top:20px;
}